input{
    height: 2.1rem;
    width: 13rem;
}

select{
    height: 2.1rem;
    width: 13rem;
}

.card-title{
    margin-top: -1.8rem;
}

.modal-content{
    width: 100%;
}

.informacion {
    margin-top: -1.2rem;
}

.area{
    width: 90%;
    height: 5rem;
}

.message {
    color: red;
}

@media (min-width: 960px) {
    .modal-content{
        width: 120%;
    }
}