<div class="container-fluid">
    <form [formGroup]="bancoForm">
        <div class="card p-3 m-4">
            <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                Erogación del giro
            </div>
            <div class="card-body pt-0">
                <div class="row my-2">
                    <div class="col py-2">
                        <label for="cdp"> CDP </label> <br>
                        <input class="form-control" name="cdp" id="cdp" type="text" placeholder="9999" disabled>
                    </div>
                    <div class="col py-2">
                        <label for="rp"> RP </label> <br>
                        <input class="form-control" name="rp" id="rp" type="text" placeholder="9999" disabled>
                    </div>
                </div>
                <div class="row my-2 justify-content-center">
                    <ngx-general-table class="mt-2" [config]="configurationRubro" [datos]="datosRubros"></ngx-general-table>
                </div>
                <div class="row my-2">
                    <div class="col-6">
                        <label for="concepto">Concepto</label> <br>
                        <select name="concepto" id="concepto" class="form-control" formControlName="concepto" [class.is-invalid]="esInvalido('concepto')">
                            <option *ngFor="let concepto of conceptos" value={{concepto}}> {{concepto}} </option>
                        </select>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col py-2">
                        <label for="banco"> Banco </label> <br>
                            <select name="banco" id="banco" class="form-control" formControlName="banco" [class.is-invalid]="esInvalido('banco')">
                                <option *ngFor="let banco of bancos" value={{banco}}> {{banco}} </option>
                            </select>
                    </div>
                    <div class="col py-2">
                        <label for="nombreCuenta"> Nombre de la cuenta </label> <br>
                            <select name="nombreCuenta" id="nombreCuenta" class="form-control" formControlName="nombreCuenta" [class.is-invalid]="esInvalido('nombreCuenta')">
                                <option *ngFor="let cuenta of cuentas" value={{cuenta}}> {{cuenta}} </option>
                            </select>
                    </div>
                </div>
                <small class="message" *ngIf="validarBanco"> Los campos en color rojo son requeridos* </small> 
                <div class="row my-2">
                    <div class="col py-2">
                        <label for="numeroCuenta"> Número de cuenta </label> <br>
                        <input type="text" class="form-control" name="numeroCuenta" id="numeroCuenta" value={{cuenta}} placeholder={{cuenta}} disabled>
                    </div>
                    <div class="col py-2">
                        <label for="tipoCuenta"> Tipo de cuenta </label> <br>
                        <input class="form-control" type="text" name="tipoCuenta" id="tipoCuenta" value={{tipo}} placeholder={{tipo}} disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-3 m-4">
            <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                Datos de los beneficiarios
            </div>
            <div class="card-body pt-0">
                <div class="row justify-content-center">
                    <ngx-general-table [config]="configuration" [datos]="datosBeneficiarios"></ngx-general-table>
                </div>
                <div class="row justify-content-md-center">
                    <label class="mx-2 p-2 font-weight-bold" for="valorTotal"> Valor total a girar: </label> <br>
                    <input class="form-control" id="valorTotal" disabled value="{{totalGasto() | currency}}">
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <button matStepperPrevious type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
                    Volver
                </button>
            </div>
            <div class="col">
                <button (click)="guardar()" class="btn btn-success px-3 py-2 my-2 text-light">
                    Siguiente
                </button>
            </div>
        </div>
    </form>
</div>

<ng-template #modalDetalles>
    <mat-dialog-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col py-2 mt-4">
                    <h5 class="card-title text-center text-primary">
                        BENEFICIARIO
                    </h5>
                </div>
            </div>
            <div class="card p-3 m-4">
                <div class="card-title col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
                    Detalles de la cuenta
                </div>
                <div class="card-body">
                    <ngx-general-table [config]="configurationDetalles" [datos]="datosDetalle"></ngx-general-table>    
                </div>                
            </div>
            <div class="card p-3 m-4">
                <div class="card-title col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
                    Descuentos
                </div>
                <div class="card-body">
                <div class="row">
                    <div class="col">
                        <ngx-general-table [config]="configurationDevengo" [datos]="datosDevengo"></ngx-general-table>
                    </div>
                    <div class="col">
                        <ngx-general-table [config]="configurationDescuento" [datos]="datosDescuento"></ngx-general-table>
                    </div>
                </div>    
                </div>
                <div class="row m-2">
                    <div class="col p-2">
                        <label class="p-2 font-weight-bold" for="valorDevengo"> Total devengos: </label> <br>
                        <input class="form-control" id="valorDevengo" disabled value="{{totalDevengo() | currency}}">
                    </div>
                    <div class="col p-2">
                        <label class="p-2 font-weight-bold" for="valorDescuentos"> Total descuentos: </label> <br>
                        <input class="form-control" id="valorDescuentos" disabled value="{{totalDescuento() | currency}}">
                    </div>
                </div>
                <div class="row m-2 justify-content-center">
                    <label class="mx-2 p-2 font-weight-bold" for="valorNeto"> Neto a pagar: </label> <br>
                    <input class="form-control" id="valorNeto" disabled value="{{totalNeto() | currency}}">
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button class="btn btn-success px-3 py-2 m-3 text-ligth" mat-button mat-dialog-close> Aceptar </button>
    </mat-dialog-actions>
</ng-template>

