<div class="container-fluid">
    <form [formGroup]="giroNomina" (ngSubmit)="onSubmit(giroNomina.value)">
        <div class="card p-3 m-4">
            <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                Información del giro
            </div>
            <div class="card-body pt-0">
                <div class="row my-2">
                    <div class="col-6 py-2">
                        <label for="tipoDocumento"> Tipo de documento </label> <br>
                        <input class="form-control" type="text" name="tipoDocumento" id="tipoDocumento" placeholder="Relación de autorización" disabled>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col py-2">
                        <label for="areaFuncional"> Área funcional </label> <br>
                        <select name="areaFuncional" id="areaFuncional" class="form-control" formControlName="areaFuncional" [class.is-invalid]="esInvalido('areaFuncional')">
                            <option *ngFor="let area of areaFuncional" value={{area}}> {{area}} </option>
                        </select>
                    </div>
                    <div class="col py-2">
                        <label for="fecha"> Fecha </label> <br>
                        <input type="date" name="fecha" id="fecha" class="form-control" formControlName="fecha" [class.is-invalid]="esInvalido('fecha')">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col py-2">
                        <label for="tipoGiro"> Tipo de giro </label> <br>
                        <select name="tipoGiro" id="tipoGiro" class="form-control" formControlName="tipoGiro" [class.is-invalid]="esInvalido('tipoGiro')">
                            <option *ngFor="let tipoGiro of tiposGiros" value="{{tipoGiro}}"> {{tipoGiro}} </option>
                        </select>
                    </div>
                    <div class="col py-2">
                        <label for="centroGestor">Centro gestor</label> <br>
                        <input class="form-control" type="text" name="centroGestor" id="centroGestor" placeholder="230" disabled>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-6 py-2">
                        <label for="vigencia"> Vigencia </label> <br>
                        <select name="vigencia" id="vigencia" class="form-control" formControlName="vigencia" [class.is-invalid]="esInvalido('vigencia')">
                            <option *ngFor="let vigencia of vigencias" value="{{vigencia}}"> {{vigencia}} </option>
                        </select>
                    </div>
                </div>
                <small class="message m-2" *ngIf="mensaje"> Los campos en rojo son requeridos* </small> 
            </div>
        </div>                         
        <div class="row text-center">
            <div class="col">
                <button routerLinkActive="active" routerLink="pages/giros/proveedores/lista" type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
                    Volver al registro
                </button>
            </div>
            <div class="col">
                <button mat-button class="btn btn-success px-3 py-2 my-2 text-light" type="submit">
                    Siguiente
                </button>
            </div>
        </div>
    </form>
</div>
