<form [formGroup]="detalleAvanceGroup">
    <div class="row">
        <div class="col-md-12">
            <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                Resumen de la Solicitud
            </h6>
        </div>
    </div>
    <!-- Grupo: Datos del Solicitante -->
    <div class="container">
        <div class="row">
            <div class="col pt-3">
                <h6 class="card-title col-md-12 bg-dark text-white text-center py-2 px-2 rounded">
                    Datos del Solicitante
                </h6>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4">
                <label>Tipo de ID</label>
                <input type="text" class="form-control" value="{{infoFuncionario?.tipoId.Nombre}}" readonly>
            </div>
            <div class="col-md-4">
                <label>Número de ID</label>
                <input type="text" class="form-control" value="{{infoFuncionario?.numeroId}}" readonly>
            </div>
            <div class="col-md-4">
                <label>Área Funcional</label>
                <input type="text" class="form-control" value="{{infoFuncionario?.areaFuncional?.label}}" readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4">
                <label>Nombres</label>
                <input type="text" class="form-control" value="{{infoFuncionario?.tercero?.Nombres}}" readonly>
            </div>
            <div class="col-md-4">
                <label>Apellidos</label>
                <input type="text" class="form-control" value="{{infoFuncionario?.tercero?.Apellidos}}" readonly>
            </div>
            <div class="col-md-4">
                <label>Dirección</label>
                <input type="text" class="form-control" value="{{infoFuncionario?.tercero?.Direccion}}" readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4">
                <label>Correo Electrónico</label>
                <input type="text" class="form-control" value="{{infoFuncionario?.tercero?.Correo}}" readonly>
            </div>
            <div class="col-md-4">
                <label>Teléfono Móvil</label>
                <input type="text" class="form-control" value="{{infoFuncionario?.tercero?.Movil}}" readonly>
            </div>
            <div class="col-md-4">
                <label>Teléfono Fijo</label>
                <input type="text" class="form-control" value="{{infoFuncionario?.tercero?.Fijo}}" readonly>
            </div>
        </div>
    </div>
    <!-- Fin Grupo: Datos del Solicitante -->
    <!-- Grupo: Descripción de la Solicitud -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h6 class="card-title col-md-12 bg-dark text-white text-center py-2 px-2 rounded">
                    Descripción de la Solicitud
                </h6>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Nombre Ordenador del Gasto</label>
                <input type="text" class="form-control" value="{{descripcionSolicitud?.ordenadorGasto?.NombreOrdenador}}" readonly>
            </div>
            <div class="col-md-6">
                <label>Cargo Ordenador del Gasto</label>
                <input type="text" class="form-control" value="{{descripcionSolicitud?.ordenadorGasto?.RolOrdenador}}" readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Objetivo</label>
                <textarea class="form-control" rows="3" readonly>{{descripcionSolicitud?.objetivo}}</textarea>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <label>Fecha del Evento</label>
                        <input type="text" class="form-control" value="{{descripcionSolicitud?.fecha}}" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Dependencia</label>
                        <input type="text" class="form-control" value="{{descripcionSolicitud?.dependencia?.Nombre}}" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-6">
                <label>Justificación</label>
                <textarea class="form-control" rows="3" readonly>{{descripcionSolicitud?.justificacion}}</textarea>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <label>Facultad</label>
                        <input type="text" class="form-control" value="{{descripcionSolicitud?.facultad?.Nombre}}" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Proyecto Curricular</label>
                        <input type="text" class="form-control" value="{{descripcionSolicitud?.proyecto?.Nombre}}" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2 align-items-baseline">
            <div class="col-md-2">
                <label>Código de Convenio</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <label>Nombre de Convenio</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-2">
                <label>Código de Proyecto de Investigación</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <label>Nombre de Proyecto de Investigación</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
        </div>
    </div>
    <!-- Fin Grupo: Descripción de la Solicitud -->
    <!-- Grupo: Tipo de Avance -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h6 class="card-title col-md-12 bg-dark text-white text-center py-2 px-2 rounded">
                    Tipo de Avance
                </h6>
            </div>
        </div>
        <!-- Grupo: Lista de Tipos de Avance -->
        <div *ngFor="let tipoavance of tiposAvances; index as i" class="container pt-3 ">
            <div class="container pt-3 ">
                <div class="row">
                    <div class="col-md-12">
                        <button #btnTiposAvances class="card-title col-md-12 btn btn-secondary text-white" type="button" data-toggle="collapse" [attr.data-target]="'#collapseTiposAvances'+i" aria-expanded="false" aria-controls="collapseTiposAvances" (click)="mostrarOcultarTiposAvances(btnTiposAvances.getAttribute('aria-expanded'), i)">
                            <i class="far {{tiposAvances[i].mostrarOcultarIcono}} text-ligth pr-3"></i><span>{{tipoavance.CodigoAbreviacion}} - {{tipoavance.Nombre}}</span>
                        </button>
                    </div>
                </div>
                <!-- Tabla: Listado de Requisitos-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="collapse" id="collapseTiposAvances{{ i }}">
                            <div class="card card-body">
                                <!-- Tabla General Adaptada Requisitos -->
                                <ngx-general-table [config]="tipoavance.configrequisitos" [datos]="tipoavance.requisitos">
                                </ngx-general-table>
                                <!-- Tabla General Adaptada Especificaciones-->
                                <ngx-general-table [config]="tipoavance.configespecificaciones" [datos]="tipoavance.especificaciones">
                                </ngx-general-table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Tabla: Listado de Requisitos-->
            </div>
        </div>
        <!-- Fin Grupo: Lista de Tipos de Avance -->

        <!-- Fin Grupo: Tipo de Avance -->
        <!-- Campo: Total Avance -->

        <div class="form-group row pt-5">
            <div class="col-sm-5"></div>
            <label class="col-sm-3 col-form-label text-center">Total Avance Solicitado</label>
            <div class="col-sm-4">
                <input type="text" value="{{ totalAvance|currency }}" class="form-control">
            </div>
        </div>
    </div>
    <!-- Fin Campo: Total Avance -->

    <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>

    <!-- Botones: Regresar, Siguiente -->
    <div class="container">
        <div class="row pt-2 text-center">
            <div class="col-md-6">
                <button mat-button matStepperPrevious class="btn btn-primary text-white m-0 mt-4">Regresar</button>
            </div>
            <div class="col-md-6 form-group">
                <button type="button" class="btn btn-success text-white m-0 mt-4" (click)="guardar()">
                    GUARDAR</button>
            </div>
        </div>
    </div>
    <!-- Fin Botones: Regresar, Siguiente -->
</form>


<!-- Modal: Solicitud Guardada -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label"><i class="fas fa-check text-success"></i>¡Guardado!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center">Se ha guardado la Solicitud de Avance No. 001.</p>
                <p class="text-center">Estado: Elaborado</p>
            </div>
            <div class="modal-footer">
                <a routerLink="../lista" role="button" class="btn btn-primary" data-dismiss="modal">
                    Aceptar
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal: Solicitud Guardada -->