.vs-viewport {
    height: 400px;
}

.vs-viewport-corto {
    height: 100px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: rgb(243, 161, 9) !important;
}

.example-margin {
    margin: 0 100px;
    align-content: left;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgb(243, 161, 9);
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(243, 161, 9);
}
