<div class="container">
    <div class="row">
        <div class="col-md-12 bg-white px-3 py-3 pt-3 pb-3">
            <h5 class="card-title text-center text-primary">
                {{ tituloAccion.toUpperCase()}} CUENTA BANCARIA
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bg-white">
            <form [formGroup]="crearCuentaBancariaGroup" (ngSubmit)="saveForm()">
                <div class="container">
                    <div class="form-group row px-5">
                        <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                            Datos de la Cuenta
                        </h6>
                    </div>
                    <div class="form-group row px-5">
                        <div class="col-md-8">
                            <mat-radio-group formControlName="recaudadoraPagadora">
                                <mat-radio-button class="example-margin" value="recaudadora" (click)=consultaTipoRecursos(true)>Recaudadora</mat-radio-button>
                                <mat-radio-button class="example-margin" value="pagadora" (click)=consultaTipoRecursos(false)>Pagadora</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-md-4">
                            <mat-checkbox class="example-margin" formControlName="cuatropormil">4 x 1000</mat-checkbox>
                        </div>
                    </div>
                    <div class="form-group row px-5">
                        <div class="col-md-4">
                            <label>Area Funcional</label>
                            <mat-select class="form-control" placeholder="Seleccione..." formControlName="areaFuncional" [class.is-invalid]="isInvalid('areaFuncional')">
                                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                                    <mat-option *cdkVirtualFor="let opcion of opcionesAreaFuncional" [value]="opcion">
                                        {{opcion.label}}
                                    </mat-option>
                                </cdk-virtual-scroll-viewport>
                            </mat-select>
                            <small *ngIf="isInvalid('areaFuncional')" class="text-danger">Seleccione una opción</small>
                        </div>
                        <div class="col-md-4">
                            <label>Recurso</label>
                            <mat-select class="form-control" placeholder="Seleccione..." formControlName="recurso" [class.is-invalid]="isInvalid('recurso')">
                                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                                    <mat-option *cdkVirtualFor="let recurso of recursos" [value]="recurso">
                                        {{recurso.recursos}}
                                    </mat-option>
                                </cdk-virtual-scroll-viewport>
                            </mat-select>
                            <small *ngIf="isInvalid('recurso')" class="text-danger">Seleccione una opción</small>
                        </div>
                        <div class="col-md-4">
                            <label>Divisa</label>
                            <mat-select class="form-control" placeholder="Seleccione..." formControlName="divisa" [class.is-invalid]="isInvalid('divisa')">
                                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                                    <mat-option *cdkVirtualFor="let divisa of divisas" [value]="divisa">
                                        {{divisa.Nombre}}
                                    </mat-option>
                                </cdk-virtual-scroll-viewport>
                            </mat-select>
                            <small *ngIf="isInvalid('divisa')" class="text-danger">Seleccione una opción</small>
                        </div>
                    </div>
                    <div class="form-group row px-5">
                        <div class="col-md-4">
                            <label>Nombre</label>
                            <input type="text" class="form-control" formControlName="nombreCuenta" [class.is-invalid]="isInvalid('nombreCuenta')">
                            <small *ngIf="isInvalid('nombreCuenta')" class="text-danger">Complete este campo</small>
                        </div>
                        <div class="col-md-4">
                            <label>Numero de cuenta</label>
                            <input type="number" class="form-control" pattern="^[\d]+$" formControlName="numeroCuenta" [class.is-invalid]="isInvalid('numeroCuenta')">
                            <small *ngIf="isInvalid('numeroCuenta')" class="text-danger">Complete este campo solo con numeros</small>
                        </div>
                        <div class="col-md-4">
                            <label>Tipo de Cuenta</label>
                             <mat-select class="form-control" placeholder="Seleccione..." formControlName="tipoCuenta" [class.is-invalid]="isInvalid('tipoCuenta')">
                                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                                    <mat-option *cdkVirtualFor="let tipoCuenta of tipoCuentas" [value]="tipoCuenta">
                                        {{tipoCuenta.Nombre}}
                                    </mat-option>
                                </cdk-virtual-scroll-viewport>
                            </mat-select>
                            <small *ngIf="isInvalid('tipoCuenta')" class="text-danger">Seleccione una opción</small>
                        </div>
                    </div>

                    <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>
                </div>
                <div class="container">
                    <div class="form-group row px-5">
                        <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                            Datos del Banco
                        </h6>
                    </div>
                    <div class="form-group row px-5">
                        <div class="col-md-6">
                            <label>Banco</label>
                            <mat-select class="form-control" placeholder="Elegir Banco..." formControlName="nombreBanco" [class.is-invalid]="isInvalid('nombreBanco')" (selectionChange)="consultaSucursales()">
                                <cdk-virtual-scroll-viewport itemSize="10" minBufferPx="200" maxBufferPx="400" class="vs-viewport">
                                    <mat-option *cdkVirtualFor="let banco of bancos" [value]="banco">
                                        {{banco.TerceroId.NombreCompleto}}
                                    </mat-option>
                                </cdk-virtual-scroll-viewport>
                            </mat-select>
                            <small *ngIf="isInvalid('nombreBanco')" class="text-danger">Seleccione una opción</small>
                        </div>
                        <div class="col-md-6">
                            <label>Sucursal</label>
                            <mat-select class="form-control" placeholder="Elegir Sucursal..." formControlName="sucursal" [class.is-invalid]="isInvalid('sucursal')">
                                <cdk-virtual-scroll-viewport itemSize="2" minBufferPx="100" maxBufferPx="200" class="vs-viewport-corto">
                                    <mat-option *cdkVirtualFor="let sucursal of sucursales" [value]="sucursal">
                                        {{sucursal.sucursal}}
                                    </mat-option>
                                </cdk-virtual-scroll-viewport>
                            </mat-select>
                            <small *ngIf="isInvalid('sucursal')" class="text-danger">Seleccione una opción</small>
                        </div>
                    </div>
                    <!-- Botones: Volver a registro, Siguiente -->
                    <div class="row pt-2 text-center">
                        <div class="col-md-6">
                            <a>
                                <button type="button" class="btn btn-primary mb-3 mt-3 text-white">
                                    <div class="d-flex flex-row justify-content-around align-middle" [routerLink]="['/pages/giros/cuentas/lista']" routerLinkActive="router-link-active" >
                                        <span>Volver</span>
                                    </div>
                                </button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-success mb-3 mt-3" (click)="guardar()">
                                Guardar
                            </button>
                        </div>
                    </div>
                    <!-- Fin Botones: Volver a registro, Siguiente -->
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal: Guardar Sucursal -->
 <ng-template #modalGuardar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Guardar</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ¿Desea guardar los cambios?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-primary text-white" (click)="modal.close(true)">
            <a data-dismiss="modal">Guardar</a>
        </button>
    </div>
</ng-template>
<!-- Fin Modal -->