<form [formGroup]="infoAdquisicionGroup" (ngSubmit)="saveForm()">
    <div class="container">
        <div class="row">
            <div class="col pb-3">
                <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                    Proceso de Adquisición
                </h6>
            </div>
        </div>
        <!-- Seleccion Area Funcional -->
        <div class="form-group row">
            <div class="col-md-5">
                <label for="areaFuncional">Área Funcional</label>
                <select class="custom-select" id="areaFuncional" formControlName="areaFuncional" [class.is-invalid]="isInvalid('areaFuncional')">
                    <option selected disabled value="">Seleccione...</option>
                    <option>2020</option>
                    <option>2019</option>
                </select>
                <small *ngIf="isInvalid('areaFuncional')" class="text-danger">Seleccione una opción</small>
            </div>
        </div>
        <!-- Seleccion NIT y trae el nombre de la entidad bancaria -->
        <div class="form-group row">
            <div class="col-md-5">
                <label for="nit">NIT</label>
                <input type="number" id="nit" class="form-control" formControlName="nit" [class.is-invalid]="isInvalid('nit')">
                <small *ngIf="isInvalid('nit')" class="text-danger">Ingrese números en este campo</small>
            </div>
            <div class="col-md-7">
                <label>Nombre de Entidad Financiera</label>
                <input value=" " type="text" class="form-control" readonly>
            </div>
        </div>
        <!-- Seleccion de Recursos de compra y tipo de titulo valor -->
        <div class="form-group row">
            <div class="col-md-6">
                <label for="recursosCompra">Recursos de la Compra</label>
                <select class="custom-select" id="recursosCompra" formControlName="recursosCompra" [class.is-invalid]="isInvalid('recursosCompra')">
                    <option selected disabled value="">Seleccione...</option>
                    <option>Inversión</option>
                    <option>Funcionamiento</option>
                    <option>Propios</option>
                </select>
                <small *ngIf="isInvalid('recursosCompra')" class="text-danger">Seleccione una opción</small>
            </div>
            <div class="col-md-6">
                <label for="tipoTitulo">Tipo de Título Valor</label>
                <select class="custom-select" id="tipoTitulo" formControlName="tipoTitulo" [class.is-invalid]="isInvalid('tipoTitulo')">
                    <option selected disabled value="">Seleccione...</option>
                    <option>Renta Fija</option>
                    <option>Tasa Variable</option>
                </select>
                <small *ngIf="isInvalid('tipoTitulo')" class="text-danger">Seleccione una opción</small>
            </div>
        </div>
        <!-- Selecion de fecha inicial y final de la inversion, valor de la inversion -->
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <label class="pl-3" for="fechaIncial">Vigencia de la Tasa</label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="date" id="fechaIncial" name="fecha" class="form-control" formControlName="fechaIncial" [class.is-invalid]="isInvalid('fechaIncial')">
                            <div class="input-group-append">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="date" name="fecha" class="form-control" formControlName="fechaFinal" [class.is-invalid]="isInvalid('fechaFinal')">
                            <div class="input-group-append">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="valorInversion">Valor de la Inversión</label>
                <input type="number" class="form-control" id="valorInversion" formControlName="valorInversion" [class.is-invalid]="isInvalid('valorInversion')">
                <small *ngIf="isInvalid('valorInversion')" class="text-danger">Ingrese números en este campo</small>
            </div>
        </div>
        <!-- Botones: Volver a registro, Siguiente -->
        <div class="container">
            <div class="row pt-2 text-center">
                <div class="col-md-6">
                    <a routerLink="../lista">
                        <button type="button" class="btn btn-primary mb-3 mt-3 text-white">
                            <div class="d-flex flex-row justify-content-around align-middle">
                                <span>Volver a registros</span>
                            </div>
                        </button>
                    </a>
                </div>
                <div class="col-md-6">
                    <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
        <!-- Fin Botones: Volver a registro, Siguiente -->
    </div>
</form>