<div class="container">
    <div class="row">
        <div class="col-md-12 bg-white px-3 py-3 pt-3 pb-3">
            <h5 class="card-title text-center text-primary">
                {{ tituloAccion.toUpperCase() }} TIPO DE AVANCE
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bg-white">
            <form [formGroup]="tipoavanceGroup" (ngSubmit)="saveForm()">
                <div class="container" *ngIf="tituloAccion !== 'detalle'">
                    <!-- Grupo: Información de Tipo de Avance-->
                    <div class="form-group row px-5">
                        <!-- Campos: Área funcional, fecha -->
                        <div class="col-md-6">
                            <label>Área Funcional</label>
                            <select class="custom-select" formControlName="areaFuncional" [class.is-invalid]="areaInvalid">
                                <option selected disabled value="">Seleccione...</option>
                                <option [ngValue]="opcion" *ngFor="let opcion of opcionesAreaFuncional">{{opcion?.label}}</option>
                            </select>
                            <small *ngIf="areaInvalid" class="text-danger">Seleccione una opción</small>
                        </div>
                        <div class="col-md-6">
                            <label>Fecha</label>
                            <div class="input-group">
                                <input type="date" name="fecha" class="form-control" formControlName="fecha">
                                <div class="input-group-append">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Campos Área funcional, fecha -->
                    <!-- Campo: Código Abreviacion, nombre de Tipo de Avance -->
                    <div class="form-group row px-5">
                        <div class="col-md-3">
                            <label>Código de Abreviación</label>
                            <input type="text" class="form-control" formControlName="codigoTipo" [class.is-invalid]="codigoTipoInvalid">
                            <small *ngIf="codigoTipoInvalid" class="text-danger">Ingrese las iniciales del tipo de
                                avance</small>
                        </div>
                        <div class="col-md-5">
                            <label>Nombre de Tipo de Avance</label>
                            <input type="text" class="form-control" formControlName="nombreTipo" [class.is-invalid]="nombreTipoInvalid">
                            <small *ngIf="nombreTipoInvalid" class="text-danger">Complete este campo</small>
                        </div>
                        <div class="col-md-4">
                            <label>Estado</label>
                            <select class="custom-select" formControlName="estadoTipo" [class.is-invalid]="estadoTipoInvalid">
                                <option selected disabled value="">Seleccione...</option>
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                            <small *ngIf="estadoTipoInvalid" class="text-danger">Seleccione una opción</small>
                        </div>
                    </div>
                    <!-- Fin Campo Código Abreviacion, nombre de Tipo de Avance -->
                    <!-- Campo: Descripción de Tipo de Avance -->
                    <div class="form-group row px-5">
                        <div class="col">
                            <label>Descripción</label>
                            <textarea class="form-control" placeholder="Descripción de Tipo de Avance" formControlName="descripcion" rows="1" [class.is-invalid]="descripcionInvalid"></textarea>
                            <small *ngIf="descripcionInvalid" class="text-danger">Ingrese mínimo 5 caracteres</small>
                        </div>
                    </div>
                    <!-- Fin Campo Descripción de Tipo de Avance -->

                    <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>

                    <!-- Campos: Estado de tipo avance, enlace a la norma -->

                    <div class="form-group row px-5">
                        <div class="col-md-7">
                            <label>Enlace de la Norma</label>
                            <input type="text" class="form-control" formControlName="normaTipo" [class.is-invalid]="normaTipoInvalid">
                            <small *ngIf="normaTipoInvalid" class="text-danger">Complete este campo</small>
                        </div>
                        <div class="col-md-5">
                            <label>Vigencia</label>
                            <select class="custom-select" formControlName="vigencia" [class.is-invalid]="vigenciaInvalid">
                                <option selected disabled value="">Seleccione...</option>
                                <option [ngValue]="vigencia" *ngFor="let vigencia of vigencias">{{vigencia?.valor}}</option>
                            </select>
                            <small *ngIf="vigenciaInvalid" class="text-danger">Seleccione una opción</small>
                        </div>
                    </div>
                    <!-- Fin Campos Estado de tipo avance, enlace a la norma -->
                    <!-- Fin Grupo: Información de Tipo de avance -->
                </div>

                <!-- Grupo: DETALLE DE TIPO DE AVANCE -->
                <div class="container" *ngIf="tituloAccion === 'detalle'">
                    <div class="contanier">
                        <div class="row pt-2">
                            <div class="col-md-4">
                                <label>Área Funcional</label>
                                <input type="text" class="form-control" value="{{tipoavanceGroup.get('areaFuncional')?.value?.label}}" readonly>
                            </div>
                            <div class="col-md-4">
                                <label>Fecha</label>
                                <input type="text" class="form-control" value="{{tipoavanceGroup.get('fecha')?.value}}" readonly>
                            </div>
                            <div class="col-md-4">
                                <label>Estado</label>
                                <input type="text" class="form-control" value="{{tipoavanceGroup.get('estadoTipo')?.value ? 'Activo' : 'Inactivo'}}" readonly>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-6">
                                <label>Descripción</label>
                                <textarea class="form-control" rows="3" readonly value="{{tipoavanceGroup.get('descripcion')?.value}}"></textarea>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col">
                                        <label>Cód. de Abreviación</label>
                                        <input type="text" class="form-control" value="{{tipoavanceGroup.get('codigoTipo')?.value}}" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Nombre de Tipo de Avance</label>
                                        <input type="text" class="form-control" value="{{tipoavanceGroup.get('nombreTipo')?.value}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                <ngx-general-table [config]="configTableNorma" [datos]="datosTableNorma"></ngx-general-table>
                            </div>
                        </div>
                    </div>
                    <mat-divider class="col-md-12 my-3 border-warning"></mat-divider>
                    <!-- Grupo: Tabla de Requisitos  -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <button #btnDocumentos class="card-title col-md-12 btn btn-primary-700 text-dark" type="button" data-toggle="collapse" data-target="#collapseDocumentos" aria-expanded="false" aria-controls="collapseDocumentos" (click)="mostrarOcultarDocumentos(btnDocumentos.getAttribute('aria-expanded'))">
                                    <i class="fas {{mostrarOcultarIcono}} text-ligth pr-3"></i>
                                    <span>REQUISITOS</span>
                                </button>
                            </div>
                        </div>
                        <!-- Tabla: Listado de Requisitos-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="collapse" id="collapseDocumentos">
                                    <div class="card card-body">
                                        <!-- Tabla General Adaptada -->
                                        <ngx-general-table [config]="configRequisitos" [datos]="datosRequisitos">
                                        </ngx-general-table>
                                        <!-- Fin Tabla General Adaptada -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Tabla: Listado de Requisitos -->
                    </div>
                    <!-- Fin Grupo: Lista de Requisitos -->
                </div>
                <!-- Fin DETALLE DE TIPO DE AVANCE -->

                <!-- Botones: Volver a registro, Siguiente -->
                <div class="row pt-2 text-center">
                    <div class="col-md-6">
                        <a href="#/pages/avances/tiposavances/lista">
                            <button type="button" class="btn btn-primary mb-3 mt-3 text-white">
                                <div class="d-flex flex-row justify-content-around align-middle">
                                    <span>Volver</span>
                                </div>
                            </button>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <button *ngIf="tituloAccion !== 'detalle'" type="button" class="btn btn-success mb-3 mt-3 text-white" (click)="modalGuardar()">{{
                            tituloAccion.toUpperCase() }}</button>
                    </div>
                </div>
                <!-- Fin Botones: Volver a registro, Siguiente -->
            </form>
        </div>
    </div>
</div>

<!-- Modal: Guardar Tipo de Avance -->
<ng-template #guardarModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="guardarModal">Guardar</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-center">Guardar el tipo de avance {{ codigoTipo }}</p>
        <p class="text-center">Estado: {{ estadoTipo }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-primary text-white" (click)="modal.close(true)">Aceptar</button>
    </div>
</ng-template>
<!-- Fin Modal -->