<div class="container-fluid">
    <div class="card p-3 m-4">
        <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
            Resumen
        </div>
        <div class="card-body pt-0">
            <div class="row my-2">
                <div class="col py-2">
                    <label for="areaFuncionalResumen"> Área funcional </label> <br>
                    <input type="text" name="areaFuncionalResumen" id="areaFuncionalResumen" placeholder="" disabled>
                </div>
                <div class="col py-2">
                    <label for="fechaResumen"> Fecha </label> <br>
                    <input type="text" name="fechaResumen" id="fechaResumen" placeholder="" disabled>
                </div   >
            </div>
            <div class="row my-2">
                <div class="col py-2">
                    <label for="tipoGiroResumen"> Tipo de giro </label> <br>
                    <input type="text" name="tipoGiroResumen" id="tipoGiroResumen" placeholder="" disabled>
                </div>
                <div class="col py-2">
                    <label for="centroGestorResumen"> Centro gestor </label> <br>
                    <input type="text" name="centroGestorResumen" id="centroGestorResumen" placeholder="" disabled>
                </div   >
            </div>
            <div class="row my-2">
                <div class="col py-2">
                    <label for="tipoDocumentoResumen"> Tipo de documento </label> <br>
                    <input type="text" name="tipoDocumentoResumen" id="tipoDocumentoResumen" placeholder="" disabled>
                </div>
                <div class="col py-2">
                    <label for="consecutivoResumen"> Consecutivo </label> <br>
                    <input type="text" name="consecutivoResumen" id="consecutivoResumen" placeholder="" disabled>
                </div   >
            </div>
            <div class="row my-2">
                <div class="col py-2">
                    <label for="vigenciaResumen"> Vigencia </label> <br>
                    <input type="text" name="vigenciaResumen" id="vigenciaResumen" placeholder="" disabled>
                </div>
                <div class="col py-2">
                    <label for="girosTramiteResumen"> Giros a tramitar </label> <br>
                    <input type="text" name="girosTramiteResumen" id="girosTramiteResumen" placeholder="" disabled>
                </div   >
            </div>
            <div class="row my-2">
                <div class="col py-2">
                    <label for="bancoResumen"> Banco </label> <br>
                    <input type="text" name="bancoResumen" id="bancoResumen" placeholder="" disabled>
                </div>
                <div class="col py-2">
                    <label for="nombreCuentaResumen"> Nombre de la cuenta </label> <br>
                    <input type="text" name="nombreCuentaResumen" id="nombreCuentaResumen" placeholder="" disabled>
                </div   >
            </div>
            <div class="row my-2">
                <div class="col py-2">
                    <label for="numeroCuentaResumen"> Número de la cuenta </label> <br>
                    <input type="text" name="numeroCuentaResumen" id="numeroCuentaResumen" placeholder="" disabled>
                </div>
                <div class="col py-2">
                    <label for="tipoCuentaResumen"> Tipo de cuenta </label> <br>
                    <input type="text" name="tipoCuentaResumen" id="tipoCuentaResumen" placeholder="" disabled>
                </div   >
            </div>
        </div>
    </div>
    <div class="card p-3 m-4">
        <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
            Datos de los beneficiarios
        </div>
        <div class="card-body pt-0">
            
        </div>
    </div>
</div>