<div class="container bg-white pt-3 pb-5">

    <div class="col-md-12 bg-white pb-5 py-3">
        <h5 class="card-title text-center text-primary">
            REGISTRO DE INFORMACIÓN EXÓGENA
        </h5>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-6">
            <div class="card text-white text-center bg-info mb-3 mx-auto" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title text-white">DIAN</h5>
                </div>
                <a [routerLink]="['/pages/informacionexogena/consolidar/registro']" class="btn btn-info text-white">
                    <div class="card-footer bg-transparent border-white">
                        Consultar Información
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white text-center bg-info mb-3 mx-auto" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title text-white">SHD</h5>
                </div>
                <a [routerLink]="['/pages/informacionexogena/consolidar/registro']" class="btn btn-info text-white">
                    <div class="card-footer bg-transparent border-white">
                        Consultar Información
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>