<form [formGroup]="detalleDeclaracionGroup" (ngSubmit)="saveForm()">
    <div class="container">
        <div class="row">
            <div class="col pb-3">
                <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                    Detalle de Cuentas
                </h6>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label for="codigoCuenta">Código de Cuenta</label>
                <select class="custom-select" id="codigoCuenta" formControlName="codigoCuenta" [class.is-invalid]="isInvalid('codigoCuenta')">
                    <option selected disabled value="">Seleccione...</option>
                    <option>243608</option>
                    <option>243605</option>
                </select>
                <small *ngIf="isInvalid('codigoCuenta')" class="text-danger">Complete este campo</small>
            </div>
            <div class="col-md-6">
                <label>Descripción de la Cuenta</label>
                <input value=" " type="text" class="form-control" readonly>
            </div>
            <div class="col align-self-end">
                <button type="button" class="btn btn-block btn-primary text-white" (click)='agregarCuenta()'><span>Agregar</span></button>
            </div>
        </div>
        <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>
        <!-- Se muestran las cuentas contables seleccionadas y agregadas -->
        <div class="container pt-3 ">
            <div class="row">
                <div class="col-md-12">
                    <button #btnCuentas class="card-title col-md-12 btn btn-dark text-white" type="button" data-toggle="collapse" data-target="#collapseCuentas" aria-expanded="false" aria-controls="collapseCuentas">
                        <i class="far {{mostrarOcultarIcono}} text-ligth pr-3"></i><span> COMPRAS (EJEMPLO)</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="collapse" id="collapseCuentas">
                        <div class="card card-body">
                            <div class="row pb-3">
                                <div class="col-md-4">
                                    <label>Código Cuenta Contable</label>
                                    <input value=" " type="text" class="form-control" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label>Total Base Valor</label>
                                    <input value=" " type="text" class="form-control" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label>Total Valor Retención</label>
                                    <input value=" " type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <!-- Tabla General Adaptada para cada cuenta (ejemplo: compras 3,5% No declarantes y 2,5% Declarantes...)-->
                            <ngx-general-table [config]="configCuentas" [datos]="datosCuentas">
                            </ngx-general-table>
                            <!-- Tabla adicional para el ejemple, al dar funcionalidad no es necesario -->
                            <ngx-general-table [config]="configCuentas" [datos]="datosCuentas">
                            </ngx-general-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- INICIO : Para el ejemplo se repite este bloque de codigo, cuando se le de funcionalidad no sera necesario -->
        <div class="container pt-3 ">
            <div class="row">
                <div class="col-md-12">
                    <button #btnCuentas class="card-title col-md-12 btn btn-dark text-white" type="button" data-toggle="collapse" data-target="#collapseCuentas" aria-expanded="false" aria-controls="collapseCuentas">
                        <i class="far {{mostrarOcultarIcono}} text-ligth pr-3"></i><span> SERVICIOS (EJEMPLO)</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="collapse" id="collapseCuentas">
                        <div class="card card-body">
                            <div class="row pb-3">
                                <div class="col-md-4">
                                    <label>Código Cuenta Contable</label>
                                    <input value=" " type="text" class="form-control" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label>Total Base Valor</label>
                                    <input value=" " type="text" class="form-control" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label>Total Valor Retención</label>
                                    <input value=" " type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <!-- Tabla General Adaptada para cada cuenta (ejemplo: compras 3,5% No declarantes y 2,5% Declarantes...)-->
                            <ngx-general-table [config]="configCuentas" [datos]="datosCuentas">
                            </ngx-general-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN : Bloque de codigo opcional -->
        <!-- Botones: Volver a registro, Siguiente -->
        <div class="container">
            <div class="row text-center">
                <div class="col-6">
                    <button mat-button matStepperPrevious class="btn btn-primary col-md-7 m-0 mt-4 text-white" type="button">
                        Regresar
                    </button>
                </div>
                <div class="form-group col-6">
                    <button mat-button matStepperNext type="submit" class="btn btn-success col-md-7 m-0 mt-4">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>