.center {
    text-align: center;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.left {
    text-align: left;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
}

.icons {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.child {
    height: 100%;
}

table {
    width: 100%;
}

.mat-header-row {
    text-align: center;
    background-color: rgb(243, 161, 9);
}

.mat-column-nombreSucursal {
    border-right: 1px solid lightgray !important;
}

.mat-column-codigoID {
    border-right: 1px solid lightgray !important;
}

.mat-column-nombreBanco {
    border-right: 1px solid lightgray !important;
}

.mat-column-activo {
    border-right: 1px solid lightgray !important;
}

th {
    text-align: center !important;
    vertical-align: middle !important;
}

mat-paginator {
    width: 100%;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}
.mat-row:hover {
    background-color: rgb(189, 187, 187);
}

.mat-icon:hover {
    color: rgb(243, 161, 9);
}

