.card-title {
    margin-top: -2rem;
}

.area {
    width: 90%;
    height: 5rem;
}

.message {
    color: red;
}

input {
    height: 2.5rem;
    width: 18rem;
}

select {
    height: 2.5rem;
    width: 18rem;
}
