<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col py-2">
                    <h5 class="card-title text-center text-primary">
                        CREAR NUEVO GIRO A PROVEEDORES
                    </h5>
                </div>
            </div>
            <mat-horizontal-stepper linear #stepper>
                <mat-step>
                    <ng-template matStepLabel> Inicio </ng-template>
                    <ngx-set-information (informacionForm)="datosInformacionForm($event)"></ngx-set-information>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> Órdenes de pago </ng-template>
                    <ngx-set-ordenpago *ngIf="orden" (validarOrden)="guardarOrden($event)"></ngx-set-ordenpago>
                    <ngx-set-ordenespago *ngIf="!orden" (validarOrdenes)="guardarOrdenes($event)"></ngx-set-ordenespago>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> Erogación y detalles del giro </ng-template>
                    <ngx-set-erogacion></ngx-set-erogacion>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> Resumen </ng-template>
                    <ngx-set-resumen></ngx-set-resumen>
                </mat-step>
            </mat-horizontal-stepper>  
        </div>
    </div>
</div>
