<div class="container-fluid">
    <div class="card my-3">
        <h6 class="text-white bg-dark p-2 px-4 rounded w-100">
            Detalle
        </h6>
        <div class="card-body">
            <div class="card p-3 m-4">
                <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                    Detalle del giro
                </div>
                <div class="card-body pt-0">
                    <div class="row my-2">
                        <div class="col py-2">
                            <label for=""> Área funcional </label> <br>
                            <select name="" id="">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col py-2">
                            <label for=""> Consecutivo </label> <br>
                            <select name="" id="">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col py-2">
                            <label for=""> Fecha </label> <br>
                            <input type="date" name="" id="">
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col py-2">
                            <label for="">Tipo de documento</label> <br>
                            <select name="" id="">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col py-2">
                            <label for=""> Tipo de giro </label> <br>
                            <select name="" id="">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>     
                </div>
            </div>
                
            <div class="card p-3 m-4">
                <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                    Datos de egreso
                </div>
                <div class="card-body pt-0">
                    <div class="row my-3">
                        <div class="col py-2">
                            <label for=""> Vigencia </label> <br>
                            <input type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for=""> Envío </label> <br>
                            <input type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for=""> Consecutivo </label> <br>
                            <input type="text" disabled>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col py-2">
                            <label for=""> Tipo de documento </label> <br>
                            <input type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for=""> Forma de pago </label> <br>
                            <input type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for=""> Valor </label> <br>
                            <input type="text" disabled>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card p-3 m-4">
                <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                    Datos de beneficiario
                </div>
                <div class="card-body pt-0">
                    <div class="row my-3">
                        <div class="col py-2">
                            <label for=""> Tipo de documento </label> <br>
                            <input type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for=""> Número de documento </label> <br>
                            <input type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for=""> Nombre </label> <br>
                            <input type="text" disabled>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="card my-3">
        <h6 class="text-white bg-dark p-2 px-4 rounded w-100">
            Erogación
        </h6>
        <div class="card-body">
            <div class="card p-3 m-4">
                <div class="card-body">
                    <div class="row my-3">
                        <div class="col py-2">
                            <label for=""> Banco </label> <br>
                            <select name="" id="">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col py-2">
                            <label for=""> Número de cuenta </label> <br>
                            <input type="number" name="" id="">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col py-2">
                            <label for=""> Nombre de cuenta </label> <br>
                            <select name="" id="">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col py-2">
                            <label for=""> Tipo de cuenta </label> <br>
                            <input type="text" disabled>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col py-2">
                            <label for=""> Número de chequera </label> <br>
                            <select name="" id="">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col py-2">
                            <label for=""> Cheques disponibles </label> <br>
                            <input type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for=""> Cheque siguiente </label> <br>
                            <input type="text" disabled>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="card my-3">
        <h6 class="text-white bg-dark p-2 px-4 rounded w-100">
            Contabilización
        </h6>
        <div class="card-body">

        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <button routerLinkActive="active" routerLink="pages/giros/cheques/lista" type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
            Volver
        </button>
    </div>
    <div class="col">
        <button mat-button class="btn btn-success px-3 py-2 my-2 text-light" type="submit">
            Guardar
        </button>
    </div>
</div>
