<div class="container-fluid">
    <div class="card my-3">
        <h6 class="text-white bg-dark p-2 px-4 rounded w-100">
            Detalle
        </h6>
        <div class="card-body">
            <div class="card p-3 m-4">
                <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                    Detalle del giro
                </div>
                <div class="card-body pt-0">
                    <div class="row my-2">
                        <div class="col py-2">
                            <label for="aFuncional"> Área funcional </label> <br>
                            <select name="aFuncional" id="aFuncional">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col py-2">
                            <label for="consecutivoResumen"> Consecutivo </label> <br>
                            <select name="consecutivoResumen" id="consecutivoResumen">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col py-2">
                            <label for="fechaResumen"> Fecha </label> <br>
                            <input type="date" name="fechaResumen" id="fechaResumen">
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col py-2">
                            <label for="tipoDocumentoResumen">Tipo de documento</label> <br>
                            <select name="tipoDocumentoResumen" id="tipoDocumentoResumen">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col py-2">
                            <label for="tipoGiroResumen"> Tipo de giro </label> <br>
                            <select name="tipoGiroResumen" id="tipoGiroResumen">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>     
                </div>
            </div>
                
            <div class="card p-3 m-4">
                <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                    Datos de egreso
                </div>
                <div class="card-body pt-0">
                    <div class="row my-3">
                        <div class="col py-2">
                            <label for="vigenciaResumen"> Vigencia </label> <br>
                            <input name="vigenciaResumen" id="vigenciaResumen" type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for="envioResumen"> Envío </label> <br>
                            <input name="envioResumen" id="envioResumen" type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for="consecutivoEgreso"> Consecutivo </label> <br>
                            <input name="consecutivoEgreso" id="consecutivoEgreso" type="text" disabled>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col py-2">
                            <label for="tipoDocumentoEgresoResumen"> Tipo de documento </label> <br>
                            <input name="tipoDocumentoEgresoResumen" id="tipoDocumentoEgresoResumen" type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for="formaPagoResumen"> Forma de pago </label> <br>
                            <input name="formaPagoResumen" id="formaPagoResumen" type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for="valorEgreso"> Valor </label> <br>
                            <input name="valorEgreso" id="valorEgreso" type="text" disabled>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card p-3 m-4">
                <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                    Datos de beneficiario
                </div>
                <div class="card-body pt-0">
                    <div class="row my-3">
                        <div class="col py-2">
                            <label for="tipoDocumentoBeneficiario"> Tipo de documento </label> <br>
                            <input name="tipoDocumentoBeneficiario" id="tipoDocumentoBeneficiario" type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for="numeroDocumentoBeneficiario"> Número de documento </label> <br>
                            <input name="numeroDocumentoBeneficiario" id="numeroDocumentoBeneficiario" type="text" disabled>
                        </div>
                        <div class="col py-2">
                            <label for="nombreResumen"> Nombre </label> <br>
                            <input name="nombreResumen" id="nombreResumen" type="text" disabled>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="card my-3">
        <h6 class="text-white bg-dark p-2 px-4 rounded w-100">
            Erogación
        </h6>
        <div class="card-body px-5">
            <div class="row my-3">
                <div class="col py-2">
                    <label for="bancoErogacion"> Banco </label> <br>
                    <select name="bancoErogacion" id="bancoErogacion">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col py-2">
                    <label for="numeroCuentaErogacion"> Número de cuenta </label> <br>
                    <input type="number" name="numeroCuentaErogacion" id="numeroCuentaErogacion">
                </div>
            </div>
            <div class="row my-3">
                <div class="col py-2">
                    <label for="nombreCuentaBeneficiario"> Nombre de cuenta </label> <br>
                    <select name="nombreCuentaBeneficiario" id="nombreCuentaBeneficiario">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col py-2">
                    <label for="tipoCuentaBeneficiario"> Tipo de cuenta </label> <br>
                    <input name="tipoCuentaBeneficiario" id="tipoCuentaBeneficiario" type="text" disabled>
                </div>
            </div>
            <div class="row my-3">
                <div class="col py-2">
                    <label for="numeroChequeraResumen"> Número de chequera </label> <br>
                    <select name="numeroChequeraResumen" id="numeroChequeraResumen">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col py-2">
                    <label for="chequesDisponiblesResumen"> Cheques disponibles </label> <br>
                    <input name="chequesDisponiblesResumen" id="chequesDisponiblesResumen" type="text" disabled>
                </div>
                <div class="col py-2">
                    <label for="chequeResumen"> Cheque siguiente </label> <br>
                    <input name="chequeResumen" id="chequeResumen" type="text" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <h6 class="text-white bg-dark p-2 px-4 rounded w-100">
            Contabilización
        </h6>
        <div class="card-body">

        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <button matStepperPrevious type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
            Volver
        </button>
    </div>
    <div class="col">
        <button mat-button class="btn btn-success px-3 py-2 my-2 text-light" type="submit" (ngSubmit)="guardar()">
            Guardar
        </button>
    </div>
</div>
