<form [formGroup]="detalleReintegroGroup">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6 class="card-title col-md-5 bg-primary text-white text-center py-2 px-2 rounded">
                    Resumen de Acta de Reintegro
                </h6>
            </div>
        </div>
        <!-- Grupo: Datos del Solicitante -->
        <div class="row">
            <div class="col pt-3">
                <h6 class="card-title col-md-12 bg-dark text-white text-center py-2 px-2 rounded">
                    Información de Reintegro
                </h6>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-3">
                <label>Área Funcional</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-3">
                <label>Número de Oficio</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-3">
                <label>Fecha de Oficio</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-3">
                <label>Vigencia</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4">
                <label>Tipo de Acta</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <label>Concepto</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <label>Causal de Reintegro</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-7">
                <label>Justificación</label>
                <textarea id="justificacion" class="form-control" rows="5" readonly></textarea>
            </div>
            <div class="col-md-5">
                <div class="row pt-2">
                    <div class="col">
                        <label>Valor de Reintegro</label>
                        <input type="text" class="form-control" value=" " readonly>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col">
                        <label>No. Recibo de Caja</label>
                        <input type="text" class="form-control" value=" " readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-9">
                <label>Nombre de Documento Adjunto</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-3 pt-4">
                <button class="btn btn-primary btn-block text-white">
                    <i class="fas fa-eye"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Grupo: Descripción de la Solicitud -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h6 class="card-title col-md-12 bg-dark text-white text-center py-2 px-2 rounded">
                    Afectación Presupuestal
                </h6>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4">
                <label>Vigencia de Orden de Pago</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <label>No. Orden de Pago</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <label>Valor de Reintegro</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4">
                <label>Código de Rubro</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <label>Nombre de Rubro</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <label>Número de CDP</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4">
                <label>Código de Fuente</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <label>Nombre de Fuente</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <label>Número de RP</label>
                <input type="text" class="form-control" value=" " readonly>
            </div>
        </div>
    </div>

    <!-- Grupo: Tipo de Avance -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h6 class="card-title col-md-12 bg-dark text-white text-center py-2 px-2 rounded">
                    Contabilización
                </h6>
            </div>
        </div>
        <!-- Grupo: Lista de Tipos de Avance -->
        <div class="row">
            <div class="col-md-12">
                <button #btnLegalizacion class="card-title col-md-12 btn btn-secondary text-white" type="button" data-toggle="collapse" data-target="#collapseLegalizacion" aria-expanded="false" aria-controls="collapseLegalizacion" (click)="mostrarOcultarTablas(btnLegalizacion.getAttribute('aria-expanded'))">
                    <i class="far {{mostrarOcultarIcono}} text-ligth pr-3"></i><span>Comprobante de Legalización</span>
                </button>
            </div>
        </div>
        <!-- Tabla: Listado de Requisitos-->
        <div class="row">
            <div class="col-md-12">
                <div class="collapse" id="collapseLegalizacion">
                    <div class="card card-body">
                        <div class="row pt-2">
                            <div class="col-md-4">
                                <label>Tipo de Comprobante</label>
                                <input type="text" class="form-control" value=" " readonly>
                            </div>
                            <div class="col-md-4">
                                <label>No. de Comprobante</label>
                                <input type="text" class="form-control" value=" " readonly>
                            </div>
                            <div class="col-md-4">
                                <label>Consecutivo</label>
                                <input type="text" class="form-control" value=" " readonly>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                <label>Concepto Contable</label>
                                <input type="text" class="form-control" value=" " readonly>
                            </div>
                        </div>
                        <!-- Tabla General Adaptada Requisitos -->
                        <div class="row pt-2">
                            <div class="col">
                                <ngx-general-table [config]="configLegalizacion" [datos]="datosLegalizacion">
                                </ngx-general-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button #btnReintegro class="card-title col-md-12 btn btn-secondary text-white" type="button" data-toggle="collapse" data-target="#collapseReintegro" aria-expanded="false" aria-controls="collapseReintegro" (click)="mostrarOcultarTablas(btnReintegro.getAttribute('aria-expanded'))">
                    <i class="far {{mostrarOcultarIcono}} text-ligth pr-3"></i><span>Comprobante de Reintegro</span>
                </button>
            </div>
        </div>
        <!-- Tabla: Listado de Requisitos-->
        <div class="row">
            <div class="col-md-12">
                <div class="collapse" id="collapseReintegro">
                    <div class="card card-body">
                        <div class="row pt-2">
                            <div class="col-md-4">
                                <label>Tipo de Comprobante</label>
                                <input type="text" class="form-control" value=" " readonly>
                            </div>
                            <div class="col-md-4">
                                <label>No. de Comprobante</label>
                                <input type="text" class="form-control" value=" " readonly>
                            </div>
                            <div class="col-md-4">
                                <label>Consecutivo</label>
                                <input type="text" class="form-control" value=" " readonly>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col">
                                <label>Concepto Contable</label>
                                <input type="text" class="form-control" value=" " readonly>
                            </div>
                        </div>
                        <!-- Tabla General Adaptada Especificaciones-->
                        <div class="row pt-2">
                            <div class="col">
                                <ngx-general-table [config]="configReintegro" [datos]="datosReintegro">
                                </ngx-general-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Campo: Total Avance -->
        <div class="row pt-2 pb-3">
            <div class="col-md-4 text-right pt-3">
                <label class="text-right">SUMAS IGUALES</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value=" " readonly>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value=" " readonly>
            </div>
        </div>
    </div>
    <!-- Fin Campo: Total Avance -->

    <mat-divider class="col-md-12 py-3 border-warning"></mat-divider>

    <!-- Botones: Regresar, Siguiente -->
    <div class="container">
        <div class="row pt-2 text-center">
            <div class="col-md-6">
                <button mat-button matStepperPrevious class="btn btn-primary text-white m-0 mt-4">Regresar</button>
            </div>
            <div class="col-md-6 form-group">
                <button type="button" class="btn btn-success text-white m-0 mt-4" data-toggle="modal" data-target="#exampleModal2">
                    GUARDAR</button>
            </div>
        </div>
    </div>
    <!-- Fin Botones: Regresar, Siguiente -->
</form>


<!-- Modal: Solicitud Guardada -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label"><i class="fas fa-check text-success"></i>¡Guardado!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center">Se ha guardado la Solicitud de Avance No. 001.</p>
                <p class="text-center">Estado: Elaborado</p>
            </div>
            <div class="modal-footer">
                <a routerLink="../lista" role="button" class="btn btn-primary" data-dismiss="modal">
                    Aceptar
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal: Solicitud Guardada -->