<div class="container-fluid">
    <div class="row m-0 p-0">
        <div class="col m-0 p-0">
            <div class="card">
                <div class="card-body">
                    <h5 *ngIf="Title" class="card-title text-center text-primary">{{Title}}</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-center">
                                <div class="form-group">
                                    <label>Centro Gestor:</label>
                                    <input type="number" class="form-control py-2" id="buscador-tabla"
                                        aria-describedby="search-table" placeholder="" [(ngModel)]="CentroGestor"
                                        (ngModelChange)="SeleccionarCentroGestor($event)" [disabled]="Disabled">
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Area Funcional:</label>
                                    <select class="form-control py-2" id="exampleFormControlSelect2" [(ngModel)]="AreaFuncional"
                                        (ngModelChange)="SeleccionarAreaFuncional($event)" [disabled]="Disabled">
                                        <ng-container *ngFor="let item of Opciones">
                                            <option [ngValue]="item">{{item.label}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>