<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Tipo de Documento:</label>
                <span class="form-control text-center">O.P. Proveedores</span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Consecutivo:</label>
                <span class="form-control text-center">1244</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Tipo de Giro:</label>
                <span class="form-control text-center">Cheque</span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Orden de Pago:</label>
                <span class="form-control text-center">19045</span>
            </div>
        </div>
    </div>
</div>
<ngx-general-table [config]="configuracion" [datos]="datos"></ngx-general-table>