<div class="container-fluid">
  <form
    [formGroup]="datosConsultaForm"
    (ngSubmit)="onSubmit(datosConsultaForm.value)"
  >
    <div class="card p-3 m-4">
      <div
        class="card-title col-md-4 bg-primary text-light text-center py-1 rounded"
      >
        {{ 'GLOBAL.datos_generales' | translate }}
      </div>
      <div class="card-body pt-0">
        <div class="row my-2">
          <div class="col py-2">
            <label for="tipoDocumento">{{ 'INGRESOS.tipo_ingreso' | translate }}</label> <br />
            <input
              class="form-control"
              type="text"
              name="tipoDocumento"
              id="tipoDocumento"
              placeholder="{{ ingresoTipo }}"
              disabled
            />
          </div>
          <div class="col py-2">
            <label for="centroGestor">{{ 'INGRESOS.tipo_documento' | translate }}</label> <br />
            <input
              class="form-control"
              type="text"
              name="centroGestor"
              id="centroGestor"
              value="230"
              disabled
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col py-2">
            <label for="areaFuncional">{{ 'GLOBAL.area_funcional' | translate }}</label> <br />
            <select
              name="areaFuncional"
              id="areaFuncional"
              class="form-control"
              formControlName="areaFuncional"
              [class.is-invalid]="esInvalido('areaFuncional')"
            >
              <option *ngFor="let area of areaFuncional" value="{{ area }}">
                {{ area }}
              </option>
            </select>
          </div>
          <div class="col py-2">
            <label for="fecha">{{ 'GLOBAL.fecha' | translate }}</label> <br />
            <input
              type="text"
              name="fecha"
              id="fecha"
              class="form-control"
              formControlName="fecha"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
    <div class="card p-3 m-4">
      <div
        class="card-title col-md-4 bg-primary text-light text-center py-1 rounded"
      >
        {{ 'GLOBAL.datos_consulta' | translate }}
      </div>
      <div class="card-body pt-0">
        <div class="row my-2">
          <div class="col py-2">
            <label for="banco">{{ 'GLOBAL.banco' | translate }}</label> <br />
            <select
              name="banco"
              id="banco"
              class="form-control"
              formControlName="banco"
              [class.is-invalid]="esInvalido('banco')"
              (ngModelChange)="cambioBanco($event)"
              [ngModel]="bancoSelected"
            >
              <option value="" disbaled selected>{{ 'BANCO.seleccione_banco' | translate }}</option>
              <option *ngFor="let banco of bancos" value="{{ banco }}">
                {{ banco }}
              </option>
            </select>
          </div>
          <div class="col py-2">
            <label for="cuenta">{{ 'CUENTA_BANCARIA.datos_cuenta' | translate }}</label> <br />
            <select
              name="cuenta"
              id="cuenta"
              class="form-control"
              formControlName="cuentasBancarias"
              [class.is-invalid]="esInvalido('cuentasBancarias')"
              (ngModelChange)="cambioNumeroCuenta($event)"
              [ngModel]="numeroCuentaSelected"
            >
              <option value="" disbaled selected>{{ 'CUENTA_BANCARIA.seleccione_numero' | translate }}</option>
              <option
                *ngFor="let cuenta of cuentasBancarias"
                value="{{ cuenta }}"
              >
                {{ cuenta }}
              </option>
            </select>
          </div>
        </div>
        <div class="row my-2">
          <div class="col py-2">
            <label for="nombreCuenta">{{ 'CUENTA_BANCARIA.nombre_cuenta' | translate }}</label> <br />
            <select
              name="nombreCuenta"
              id="nombreCuenta"
              class="form-control"
              formControlName="nombreCuenta"
              [class.is-invalid]="esInvalido('nombreCuenta')"
              (ngModelChange)="cambioNombreCuenta($event)"
              [ngModel]="nombreCuentaSelected"
            >
              <option value="" disbaled selected>{{ 'CUENTA_BANCARIA.seleccione_nombre' | translate }}</option>
              <option *ngFor="let cuenta of cuentas" value="{{ cuenta }}">
                {{ cuenta }}
              </option>
            </select>
          </div>
          <div class="col py-2">
            <label for="codigoRecaudo">{{ 'INGRESOS.codigo_recaudo' | translate }}</label> <br />
            <input
              class="form-control"
              type="text"
              name="codigoRecaudo"
              id="codigoRecaudo"
              formControlName="codigoRecaudo"
              [class.is-invalid]="esInvalido('codigoRecaudo')"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col py-2">
            <label for="fechaInicio">{{ 'GLOBAL.fecha_inicio' | translate }}</label> <br />
            <input
              type="date"
              name="fechaInicio"
              id="fechaInicio"
              class="form-control"
              formControlName="fechaInicio"
              (ngModelChange)="fechaInicioMal=esInvalido('fechaInicio')"
              [class.is-invalid]="fechaInicioMal"
            />
          </div>
          <div class="col py-2">
            <label for="fechaFinal">{{ 'GLOBAL.fecha_final' | translate }}</label> <br />
            <input
              type="date"
              name="fechaFinal"
              id="fechaFinal"
              class="form-control"
              formControlName="fechaFinal"
              (ngModelChange)="fechaFinMal=esInvalido('fechaFinal')"
              [class.is-invalid]="fechaFinMal"
            />
          </div>
        </div>
        <small class="message m-2" *ngIf="mensaje">
          {{ 'GLOBAL.campos_requeridos' | translate }}
        </small>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <button
          (click)="regresar()"
          type="button"
          class="btn btn-primary px-3 py-2 my-2 text-light"
        >
        {{ 'GLOBAL.volver_registro' | translate }}
        </button>
      </div>
      <div class="col">
        <button
          mat-button
          class="btn btn-success px-3 py-2 my-2 text-light"
          type="submit"
        >
        {{ 'GLOBAL.siguiente' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
