<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col py-2">
                    <h5 class="card-title text-center text-primary">
                        CREAR NUEVO GIRO DE NÓMINA
                    </h5>
                </div>
            </div>
            <mat-horizontal-stepper linear #stepper>
                <mat-step>
                    <ng-template matStepLabel> Inicio </ng-template>
                    <ngx-set-informacion (informacionForm)="datosInformacionForm($event)"></ngx-set-informacion>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> Relación de Autorización </ng-template>
                    <ngx-set-relaciones (informacionRelaciones)="datosInformacionRelacion($event)"></ngx-set-relaciones>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> Erogación y detalles del giro </ng-template>
                    <ngx-set-erogacion (informacionBanco)="datosBancoForm($event)"></ngx-set-erogacion>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> Resumen </ng-template>
                    <ngx-set-resumen></ngx-set-resumen>
                </mat-step>
            </mat-horizontal-stepper>  
        </div>
    </div>
</div>
