<div class="container-fluid" *ngIf="config && datos && rowspanTable">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="bg-primary text-white">
                        <!-- Titulo General Fuente-->
                        <tr *ngIf="config.title">
                            <th scope="col" colspan="100" [class]="config.title.class">
                                {{datos.Fuente}} - {{datos.FuenteData.Nombre}}
                            </th>
                        </tr>
                        <!-- Titulos Principales -->
                        <tr *ngIf="config.showColumnTitle">
                            <!-- Llaves de Objetos -->
                            <ng-container *ngFor="let element of config.dataConfig">
                                <ng-container *ngIf="element.compound">
                                    <th scope="col" [attr.colspan]="element.compound.length" [class]="element.title.class">
                                        {{element.title.name}}</th>
                                </ng-container>
                                <ng-container *ngIf="!element.compound && !element.objectKeys">
                                    <th scope="col" [attr.rowspan]="rowspanTitle" [class]="element.title.class">
                                        {{element.title.name}}
                                    </th>
                                </ng-container>
                                <ng-container *ngIf="element.objectKeys">
                                    <th scope="col" [attr.colspan]="element.objectKeys.length" [class]="element.title.class">
                                        {{element.title.name}}</th>
                                </ng-container>
                            </ng-container>
                            <!-- Acciones -->
                            <ng-container *ngIf="config.rowActions">
                                <th scope="col" [attr.rowspan]="rowspanTitle" [class]="config.rowActions.title.class">
                                    {{config.rowActions.title.name}}</th>
                            </ng-container>
                        </tr>
                        <tr *ngIf="config.showColumnTitle">
                            <ng-container *ngFor="let element of config.dataConfig">
                                <ng-container *ngIf="element.objectKeys">
                                    <ng-container *ngFor="let titles of element.objectKeys">
                                        <th scope="col" [class]="titles.title.class">{{titles.title.name}}</th>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngFor="let element of config.dataConfig">
                                <ng-container *ngIf="element.compound">
                                    <ng-container *ngFor="let titles of element.compound">
                                        <th scope="col" [class]="titles.title.class">{{titles.title.name}}</th>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </tr>
                    </thead>
                    <!-- Elementos Relacionados -->
                    <ng-container *ngFor="let rubros of datos, index as i">
                        <tbody ngx-tabla-reporte-rubros [config]="config" [datos]="rubros.Rubros"
                            [rowspanTable]="rowspanTable" [index]="i">
                        </tbody>
                    </ng-container>
                    <!-- <tr>
                        <th scope="col" colspan="7" [class]="config.endSubtotal.first.class">
                            
                        </th>
                        <th scope="col" colspan="1" [class]="config.endSubtotal.last.class">
                            
                        </th>
                        <th scope="col" colspan="4" [class]="config.endSubtotal.last.class">
                        </th>
                    </tr> -->
                </table>
            </div>
        </div>
        <div *ngIf="config.tableActions" class="col-12 d-flex justify-content-around">
            <ng-container *ngFor="let allAction of config.tableActions">
                <button type="button" class="btn btn-primary px-3 py-2 m-2 text-light"
                    (click)="SelectedAllAction(allAction)">
                    <div class="d-flex flex-row justify-content-around align-middle">
                        <i [class]="allAction.icon"></i>
                        <span [class]="allAction.class">{{allAction.title}}</span>
                    </div>
                </button>
            </ng-container>
        </div>
    </div>
</div>