<div style="overflow-x:auto">
    <div class="form-group mb-2" *ngIf="filtro">
        <input type="text" class="form-control py-2 mb-3 mt-3" id="buscador-tabla" aria-describedby="search-table" placeholder="Buscar..." [(ngModel)]="stringBusqueda">
    </div>
    <table class="table table-bordered table-hover text-center">
        <thead class="thead table-title">
            <tr class="align-middle">
                <th *ngIf="seleccion"> Selección </th>
                <th *ngFor="let title of titles" scope="col"> {{title}} </th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle" *ngFor="let item of list | filterTable:stringBusqueda">
                <td *ngIf="seleccion"><label class="switch">
                    <input type="checkbox" [checked]="item.status" (change)="seleccionar(item, $event.target.checked)">
                    <span class="slider round"></span>
                </label></td>

                <ng-container *ngFor="let attribute of attributes">
                    <ng-container *ngIf="attribute.length === 1">
                    <td>{{item[attribute[0]]}}</td>
                    </ng-container>
                    <ng-container *ngIf="attribute.length > 1">
                    <td>{{item[attribute[0]][attribute[1]]}}</td>
                    </ng-container>
                </ng-container>                
            </tr>
            <tr *ngIf="total">
                <td> Total </td>
                <td> {{valorGirado | currency}} </td>
                <td> {{porcentajeGirado | percent}} </td>
                <td> {{valorLegalizado | currency}} </td>
                <td> {{porcentajeLegalizado | percent}} </td>
                <td> {{valorLegalizar | currency}} </td>
                <td> {{porcentajeLegalizar | percent}} </td>
                <td> {{totalAvances | currency}} </td>
            </tr> 
        </tbody>
    </table>
</div>
