
<mat-dialog-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center p-4">
                    <h5 class="text-primary text-center font-weight-bold pb-4">Crear
                        Registro</h5>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Tipo ID:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>CC</option>
                        <option>TI</option>
                        <option>CE</option>
                        <option>NIT</option>
                    </select>
                </div>
            </div>
            <div class="col-9">
                <div class="form-group">
                    <label>Numero ID:</label>
                    <input class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input class="form-control" placeholder="">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Valor Total a Diferir:</label>
                    <input currencyMask type="text" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }"
                        class="form-control text-right" placeholder="">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Facultad:</label>
                    <select class="form-control">
                        <option>INGENIERIA</option>
                        <option>MEDIO AMBIENTE</option>
                        <option>ARTES</option>
    
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Proyecto Curricular:</label>
                    <select class="form-control">
                        <option>INGENIERIA ELECTRONICA</option>
                        <option>INGENIERIA INDUSTRIAL</option>
                        <option>INGENIERIA DE SISTEMAS</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <ngx-general-table [config]="configuracion" [datos]="datos"></ngx-general-table>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary px-3 py-2 my-3 text-light"
                        (click)="AgregarRegistro2()">Agregar Cuota</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-light px-3 py-2 my-3" (click)="OnClose()">Cancelar</button>
        <button type="button" class="btn btn-primary px-3 py-2 my-3 text-light" (click)="OnClose()">Enviar</button>
    </div>
</mat-dialog-content>
