input{
    height: 2.5rem;
    width: 18rem;
}

select{
    height: 2.5rem;
    width: 18rem;
}

.total{
    width: 10rem;
}

.card-title{
    margin-top: -2rem;
}

.informacion{
    margin-top: -1.2rem; 
}