.cerrar {
    color: red;
    font-size: 30px;
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 0px;
}

.denegar {
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 0px;
}

input{
    height: 2.1rem;
}

select{
    height: 2.1rem;
}