<div class="container">
    <div class="row p-2">
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-center pb-3">
                                    <span class="text-primary text-center font-weight-bold">PROYECCION</span>
                                </div>
                                <ngx-general-table [config]="configuracion" [datos]="datos"></ngx-general-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-12 d-flex justify-content-end">
            <ngx-btn-volver></ngx-btn-volver>
        </div>
    </div>
</div>
