<div class="container-fluid">
    <form [formGroup]="bancoForm">
        <div class="card p-3 m-4">
            <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                Erogación del giro
            </div>
            <div class="card-body pt-0">
                <div class="row my-2">
                    <div class="col py-2">
                        <label for="banco"> Banco </label> <br>
                            <select name="banco" id="banco" class="form-control" formControlName="banco">
                                <option *ngFor="let banco of bancos" value={{banco}}> {{banco}} </option>
                            </select>
                    </div>
                    <div class="col py-2">
                        <label for="nombreCuenta"> Nombre de la cuenta </label> <br>
                            <select name="nombreCuenta" id="nombreCuenta" class="form-control" formControlName="nombreCuenta">
                                <option *ngFor="let cuenta of cuentas" value={{cuenta}}> {{cuenta}} </option>
                            </select>
                    </div>
                </div>
                <small class="message" *ngIf="validarBanco"> Requerido* </small> 
                <div class="row my-2">
                    <div class="col py-2">
                        <label for="numeroCuenta"> Número de cuenta </label> <br>
                        <input type="text" name="numeroCuenta" id="numeroCuenta" value={{cuenta}} placeholder={{cuenta}} disabled>
                    </div>
                    <div class="col py-2">
                        <label for="tipoCuenta"> Tipo de cuenta </label> <br>
                        <input type="text" name="tipoCuenta" id="tipoCuenta" value={{tipo}} placeholder={{tipo}} disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-3 m-4">
            <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                Datos de los beneficiarios
            </div>
            <div class="card-body pt-0">
                <ngx-general-table [config]="configuration" [datos]="datosBeneficiarios"></ngx-general-table>
                <div class="row justify-content-md-center">
                    <label class="mx-2 p-2 font-weight-bold" for="valorTotal"> Valor total a girar: </label> <br>
                    <input class="form-control" id="valorTotal" disabled value="{{totalGasto()|currency}}">
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <button matStepperPrevious type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
                    Volver al registro
                </button>
            </div>
            <div class="col">
                <button matStepperNext (click)="guardarBeneficiarios()" class="btn btn-success px-3 py-2 my-2 text-light" [disabled]="datosBeneficiarios.length === 0 || bancoForm.invalid">
                    Siguiente
                </button>
            </div>
        </div>
    </form>
</div>

<ng-template #modalDetalles>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center text-primary my-2">Beneficiario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)=" cerrar()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card my-4">
                <div class="card-body">
                    <div class="card-title informacion col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
                        Detalles beneficiario
                    </div>
                </div>
                <ngx-general-table [config]="configurationDetalles" [datos]="datosDetalle"></ngx-general-table>
            </div>
        </div>
        <div class="modal-footer">
            <button mat-button type="button" (click)="cerrar()" class="btn btn-primary px-3 py-2 my-2 text-light"> Volver </button>
        </div>
    </div>      
</ng-template>

<ng-template #modalJustificacion>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center text-primary my-2">Retirar beneficiario de la lista</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)=" cerrarJustificacion()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="justificacionRemover" (ngSubmit)="guardar()">
            <div class="modal-body m-3">
                <label for="justificar"> Justificación </label>
                <input class="form-control area p-1" placeholder="Escribir..." name="justificar" id="justificar" type="text" formControlName="justificacion"> <br>
                <small class="message" *ngIf="validarJustificacion"> Requerido* </small> 
            </div>
            <div class="modal-footer">
                <button mat-button type="submit" class="btn btn-success px-3 py-2 my-2 text-light"> Aceptar </button>
            </div>
        </form>
    </div>
</ng-template>