<form [formGroup]="datosValorizacionGroup" (ngSubmit)="saveForm()">
    <div class="container">
        <div class="row">
            <div class="col pb-3">
                <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                    Datos Generales
                </h6>
            </div>
        </div>
        <!-- Escribir el precio de cierre en bolsa -->
        <div class="form-group row">
            <div class="col-md-4">
                <label for="precioCierre">Precio - Cierre en Bolsa</label>
                <input currencyMask class="form-control" id="precioCierre" formControlName="precioCierre" [class.is-invalid]="isInvalid('precioCierre')">
                <small *ngIf="isInvalid('precioCierre')" class="text-danger">Ingrese un monto en este
                    campo</small>
            </div>
            <!-- Se calcula luego del campo anterior (preguntar por la fórmula) -->
            <div class="col-md-4">
                <label>Valor de las Acciones</label>
                <input currencyMask value="$ " class="form-control" readonly>
            </div>
            <!-- Se calcula luego del campo anterior (preguntar por la fórmula) -->
            <div class="col-md-4">
                <label>Valor de Acciones en Libro</label>
                <input currencyMask value="$ " class="form-control" readonly>
            </div>
        </div>
        <!-- Se calcula luego del campo anterior (consultar la fórmula) -->
        <div class="form-group row">
            <div class="col-md-4">
                <label>Valorización de las Acciones</label>
                <input currencyMask value="$ " class="form-control" readonly>
            </div>
            <!-- Se escribe el valor del registro en valorización -->
            <div class="col-md-4">
                <label for="registroValorizacion">Registro en Valorización</label>
                <input currencyMask class="form-control" id="registroValorizacion" formControlName="registroValorizacion" [class.is-invalid]="isInvalid('registroValorizacion')">
                <small *ngIf="isInvalid('registroValorizacion')" class="text-danger">Ingrese un monto en este
                    campo</small>
            </div>
            <!-- Se calcula a patir de los campos anteriores (consultar fórmula) -->
            <div class="col-md-4">
                <label>Ajuste</label>
                <input currencyMask value="$ " class="form-control" readonly>
            </div>
        </div>
        <!-- El campo está opcional -->
        <div class="form-group row">
            <div class="col">
                <label for="observaciones">Observaciones</label>
                <textarea class="form-control" id="observaciones" formControlName="observaciones"></textarea>
            </div>
        </div>
        <!-- Botones: Volver a registro, Siguiente -->
        <div class="container">
            <div class="row pt-2 text-center">
                <div class="col-md-6">
                    <a routerLink="../lista">
                        <button type="button" class="btn btn-primary mb-3 mt-3 text-white">
                            <div class="d-flex flex-row justify-content-around align-middle">
                                <span>Volver a registros</span>
                            </div>
                        </button>
                    </a>
                </div>
                <div class="col-md-6">
                    <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>