<div class="container my-2 dropzone" ngxFileUpload (fileDropped)="onFileDropped($event)">
    <div class="row">
        <div class="col-md-2 p-2">
            <i class="fas fa-paperclip"></i>
        </div>
        <div class="col-md-8 text-center h-100 my-auto">
            <input type="file" id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)">
            <button type="button" class="btn btn-primary text-white px-5">
                Adjuntar archivo
            </button>
        </div>
    </div>
</div>