<div class="container">
    <div class="row p-2">
        <div class="col">
            <ngx-datos-generales-iniciales [Title]="title"></ngx-datos-generales-iniciales>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <ngx-rubro-aprobacion></ngx-rubro-aprobacion>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <span class="text-primary text-center font-weight-bold">Datos de Proyeccion</span>
                    </div>
                    <ngx-form-aprobacion-fuentes></ngx-form-aprobacion-fuentes>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center pb-3">
                        <span class="text-primary text-center font-weight-bold">Proyeccion Mensual</span>
                    </div>
                    <ngx-form-aprobacion-proyeccion></ngx-form-aprobacion-proyeccion>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-6 d-flex justify-content-start">
            <ngx-btn-volver></ngx-btn-volver>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button type="button" class="btn btn-primary px-3 py-2 my-3 text-light" (click)="OnCreate()">
                Aprobar
            </button>
        </div>
    </div>
</div>