<form [formGroup]="tipoAvanceGroup" (ngSubmit)="saveForm()">
    <!-- Grupo: Datos del funcionario -->
    <div class="container">
        <div class="row">
            <div class="col pb-3">
                <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                    Seleccionar Tipo de Avance
                </h6>
            </div>
        </div>
        <!-- Campos: Nombres, Apellidos, Dirección -->
        <div class="form-group row">
            <div class="col-md-4">
                <label>Tipo de Avance</label>
                <select class="custom-select" formControlName="seleccionAvance" [class.is-invalid]="seleccionAvanceInvalid">
                    <option selected disabled value="">Seleccione...</option>
                    <option>Viáticos</option>
                    <option>Viáticos a Estudiantes</option>
                </select>
                <small *ngIf="seleccionAvanceInvalid" class="text-danger">Complete este campo</small>
            </div>
            <div class="col-md-6">
                <label>Descripción Tipo de Avance</label>
                <input value=" " type="text" class="form-control" readonly>
            </div>
            <div class="col align-self-end">
                <button type="button" class="btn btn-block btn-primary text-white" (click)='agregarTipo()'><span>Agregar</span></button>
            </div>
        </div>
        <!-- Fin Campos: Nombres, Apellidos, Dirección -->

        <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>

        <!-- Grupo: Lista de Tipos de Avance -->
        <div *ngFor="let tipoavance of tiposAvances; index as i" class="container pt-3 ">
            <div class="row">
                <div class="col-md-12">
                    <button #btnTiposAvances class="card-title col-md-12 btn btn-dark text-white" type="button" data-toggle="collapse" [attr.data-target]="'#collapseTiposAvances'+i" aria-expanded="false" aria-controls="collapseTiposAvances" (click)="mostrarOcultarTiposAvances(btnTiposAvances.getAttribute('aria-expanded'), i)">
                        <i class="far {{ tiposAvances[i].mostrarOcultarIcono }} text-ligth pr-3"></i><span>Tipo de
                            Avance</span>
                    </button>
                </div>
            </div>
            <!-- Tabla: Listado de Requisitos-->
            <div class="row">
                <div class="col-md-12">
                    <div class="collapse" id="collapseTiposAvances{{ i }}">
                        <div class="card card-body">
                            <!-- Tabla General Adaptada Requisitos -->
                            <ngx-general-table [config]="tipoavance.configrequisitos" [datos]="tipoavance.requisitos">
                            </ngx-general-table>
                            <!-- Tabla General Adaptada Especificaciones-->
                            <ngx-general-table [config]="tipoavance.configespecificaciones" [datos]="tipoavance.especificaciones">
                            </ngx-general-table>
                            <!-- Boton Borrar Tipo de Avance -->
                            <button type="button" class="btn btn-block btn-danger text-white" (click)="borrarTipo(i)">
                                <span>Borrar Tipo de Avance</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Tabla: Listado de Requisitos-->
        </div>
        <!-- Fin Grupo: Lista de Tipos de Avance -->

        <!-- Campo: Total Avance -->
        <div class="form-group row pt-4">
            <div class="col"></div>
            <div class="col-md-5">
                <label>Total Avance Solicitado</label>
                <input value="{{ totalAvance|currency }}" type="text" class="form-control" readonly>
            </div>
        </div>
        <!-- Fin Campo: Total Avance -->

        <!-- Botones: Volver a registro, Siguiente -->
        <div class="container">
            <div class="row text-center">
                <div class="col-6">
                    <button mat-button matStepperPrevious class="btn btn-primary m-0 mt-4 text-white" type="button">Regresar</button>
                </div>
                <div class="form-group col-6">
                    <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">Siguiente</button>
                </div>
            </div>
        </div>
        <!-- Fin Botones: Volver a registro, Siguiente -->
    </div>
    <!-- Fin Datos del funcionario -->
</form>

<!-- Modal: Adjuntar requisitos -->
<ng-template #adjuntarArchivoModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="adjuntarArchivoModal">Adjuntar Archivo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngx-file-upload (prepareFilesList)="prepareFileList($event)"></ngx-file-upload>
        <div class="row">
            <div class="col-md-6"> {{ archivo?.name }} </div>
            <div class="col-md-4 text-right"> {{ archivo ? (archivo.size/1024).toFixed(2) + ' Kb' : '' }}</div>
            <div class="col-md-2"> <button class="btn btn-danger text-white" (click)="archivo = null"><i
                        class="fas fa-trash-alt"></i></button> </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close(true)">Aceptar</button>
    </div>
</ng-template>
<!-- Fin Modal -->

<!-- Modal: Agregar especificaciones -->
<ng-template #agregarRegistroModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="agregarRegistroModal">Agregar Especificación</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]='modalEspecificacionGroup'>
            <div class="form-group">
                <label>Tipo de Especificación</label>
                <select class="custom-select" id="tipoId" formControlName="tipoId" [class.is-invalid]="esInvalido('tipoId')">
                    <option selected disabled value="">Seleccione...</option>
                    <option>Transporte</option>
                    <option>Hospedaje</option>
                </select>
                <small *ngIf="esInvalido('tipoId')" class="text-danger">Complete este campo</small>
            </div>
            <div class="form-group">
                <label for="descripcion" class="col-form-label">Descripción:</label>
                <textarea class="form-control" id="descripcion" formControlName="descripcion" [class.is-invalid]="esInvalido('descripcion')"></textarea>
            </div>
            <div class="form-group">
                <label for="valorSolicitado" class="col-form-label">Valor Solicitado:</label>
                <input type="number" class="form-control" id="valorSolicitado" formControlName="valorSolicitado" [class.is-invalid]="esInvalido('valorSolicitado')">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)='saveModalForm()'>Aceptar</button>
    </div>
</ng-template>
<!-- Fin Modal -->

<!-- Modal: Eliminar registros de la tabla -->
<ng-template #eliminarTipoModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="BorrarTipoModal">Borrar Registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ¿Desea borrar el registro?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close(true)">Borrar</button>
    </div>
</ng-template>
<!-- Fin Modal -->