<form [formGroup]="tipoAvanceGroup" (ngSubmit)="saveForm()">
    <!-- Grupo: Datos del funcionario -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                    Seleccionar Tipo de Avance
                </h6>
            </div>
        </div>
        <!-- Campos: Nombres, Apellidos, Dirección -->
        <div class="form-group row">
            <div class="col-md-4">
                <label>Tipo de Avance</label>
                <select class="custom-select" formControlName="seleccionAvance" [class.is-invalid]="seleccionAvanceInvalid">
                    <option selected disabled value="">Seleccione...</option>
                    <option>Cargo 1</option>
                    <option>Cargo 2</option>
                </select>
                <small *ngIf="seleccionAvanceInvalid" class="text-danger">Complete este campo</small>
            </div>
            <div class="col-md-4">
                <label>Descripción Tipo de Avance</label>
                <input value=" " type="text" class="form-control" readonly>
            </div>
        </div>
        <!-- Fin Campos: Nombres, Apellidos, Dirección -->

        <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>


        <!-- Botones: Volver a registro, Siguiente -->
        <div class="container">
            <div class="row text-center">
                <div class="col-6">
                    <button mat-button matStepperPrevious class="btn btn-primary m-0 mt-4 text-white" type="button">Regresar</button>
                </div>
                <div class="form-group col-6">
                    <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">Siguiente</button>
                </div>
            </div>
        </div>
        <!-- Fin Botones: Volver a registro, Siguiente -->
    </div>
    <!-- Fin Datos del funcionario -->
</form>