<ng-template #modalConta>
    <mat-dialog-content>
        <div class="container-fluid">
            <div class="row">
                <div class="col py-2">
                    <h5 class="card-title text-center text-primary">
                        CONTABILIZACIÓN DEL GIRO
                    </h5>
                </div>
            </div>
            <div class="card p-3 m-4">
                <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
                    Contabilización
                </div>
                <div class="card-body">
                    <form [formGroup]="contabilizacionForm">
                        <div class="row">
                            <div class="col">
                                <label for="conceptoResumen"> Concepto </label> <br>
                                <select name="conceptoResumen" id="conceptoResumen" class="form-control" formControlName="concepto"> 
                                    <option *ngFor="let concepto of conceptos" value={{concepto}}> {{concepto}} </option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="codigoResumen"> Código </label> <br>
                                <select class="form-control" name="codigoResumen" id="codigoResumen" formControlName="codigo"> 
                                    <option *ngFor="let codigo of codigos" value={{codigo}}> {{codigo}} </option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="tipoComprobante"> Tipo de comprobante </label> <br>
                                <select name="tipoComprobante" id="tipoComprobante" class="form-control" formControlName="tipoComprobante">
                                    <option *ngFor="let tipo of tiposComprobante" value={{tipo}}> {{tipo}} </option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="consecutivo"> Consecutivo </label> <br>
                                <input name="consecutivoResumen" id="consecutivoResumen" class="form-control" type="text" disabled>
                            </div>
                        </div>
                    </form>
                </div>
                <ngx-general-table [config]="configurationConta" [datos]="datosConta"></ngx-general-table>
                <div class="row my-2">
                    <div class="col py-2" align="center">
                        <label class="font-weight-bold m-2" for="sumaDebito">Suma débito: </label>
                        <input name="sumaDebito" id="sumaDebito" class="form-control total m-2" disabled value="{{totalDebito() | currency}}">
                    </div>
                    <div class="col py-2" align="center">
                        <label class="font-weight-bold m-2" for="sumaCredito">Suma crédito: </label>
                        <input name="sumaCredito" id="sumaCredito" class="form-control m-2 total" disabled value="{{totalCredito() | currency}}">
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions >
        <button class="btn btn-primary px-3 py-2 m-3 text-light" mat-button mat-dialog-close> Volver </button>
        <button (click)="guardar()" class="btn btn-success px-3 py-2 m-3 text-light" mat-button mat-dialog-close> Guardar </button>
        <button (click)="aprobar()" class="btn btn-success px-3 py-2 m-3 text-light" mat-button> Aprobar contabilidad </button>
    </mat-dialog-actions>
</ng-template>