input{
    height: 2.1rem;
}

select{
    height: 2.1rem;
}

.informacion {
    margin-top: -2.5rem;
}

// style container
.output-pdf-viewer {
    // padding-top: 90px;
    height: 70vh;
    width: 100%;
    overflow: auto;
    position: relative;
    background-color: rgba(#ddd, 0.5);
    // pdf viewer overwriting styles
     ::ng-deep {
        .pdfViewer {
            .page {
                border: none;
                border-image: none;
                -webkit-border-image: none;
                box-shadow: 1px 0 5px -3px rgba(#000, 0.2);
                margin-bottom: 15px;
            }
        }
    }
}

.modal-content{
    width: 120%;
}
