<div class="container py-5">
    <div class="row p-2">
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div
                        class="col-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                        <p>Datos del Acreedor:</p>
                    </div>
                    <div class="col-9">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Tipo ID:</label>
                                        <span class="form-control">{{Datos.TipoID}}</span>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <label>Numero ID:</label>
                                        <span class="form-control">{{Datos.NumeroID}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Nombre:</label>
                                        <span class="form-control">{{Datos.Nombre}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>