<div class="container-fluid">
    <div class="card p-3 m-4">
        <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
            Órdenes de pago radicadas
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p> Seleccione el rango de las órdenes de pago a girar: </p>
                </div>
                <div class="col">
                    <form [formGroup]="consecutivos" (ngSubmit)="onSubmit(consecutivos.value)">
                        <label for="desde"> Consecutivo desde: </label>
                        <input name="desde" id="desde" class="mx-2" type="number" formControlName="desde">
                        <label for="hasta"> hasta: </label>
                        <input name="hasta" id="hasta" class="mx-2" type="number" formControlName="hasta">
                        <button type="submit" class="btn btn-primary px-3 py-2 my-2 text-light" [disabled]="agregarConsecutivos"> Agregar + </button>
                        <div *ngIf="validarConsecutivo" class="row">
                            <small class="message"> Lista a consultar inválida* </small>
                        </div>
                        <div *ngIf="validar" class="row">
                            <small class="message"> Requeridos* </small>
                        </div>
                    </form>
                </div>
            </div>

            <ngx-general-table [config]="configuration" [datos]="datosGiroOrdenesPago"></ngx-general-table>

            <div class="mt-4" *ngIf="datosSeleccionados.length !== 0">
                <div class="d-flex">
                    <p class="mr-auto align-text-bottom"> Órdenes de pago seleccionadas: </p>
                    <button (click)="remove()" class="btn btn-primary px-3 py-2 my-2 text-light"> Quitar todos - </button>
                </div>
                <ngx-general-table [config]="configurationMin" [datos]="datosSeleccionados"></ngx-general-table>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button matStepperPrevious type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
                Volver al registro
            </button>
        </div>
        <div class="col">
            <button matStepperNext class="btn btn-success px-3 py-2 my-2 text-light" [disabled]="datosSeleccionados.length === 0">
                Siguiente
            </button>
        </div>
    </div>
</div>
