<div class="container-fluid">
    <div class="card p-3 m-4">
        <div class="card-title col-md-4 bg-primary text-light text-center py-1 rounded">
            Órdenes de pago radicadas
        </div>
        <div class="card-body">
            <form [formGroup]="consecutivos" (ngSubmit)="onSubmit(consecutivos.value)">
                <div class="row">
                    <div class="col">
                        <p> Seleccione el rango de las órdenes de pago a girar: </p>
                    </div>
                    <div class="col d-flex flex-row align-middle">
                        <label class="pt-2" for="desde"> Consecutivo desde: </label>
                        <input name="desde" id="desde" class="mx-2 form-control" type="number" formControlName="desde"
                            [class.is-invalid]="esInvalido('desde')">
                        <label class="pt-2" for="hasta"> hasta: </label>
                        <input name="hasta" id="hasta" class="mx-2 form-control" type="number" formControlName="hasta"
                            [class.is-invalid]="esInvalido('hasta')">
                        <button type="submit" class="btn btn-primary px-3 py-2 my-0 text-light"
                            [disabled]="agregarConsecutivos"> Agregar + </button>
                    </div>
                </div>
            </form>
            <div class="d-flex flex-row-reverse my-2">
                <div *ngIf="validarConsecutivo">
                    <small class="message mr-4 pr-4"> Lista a consultar inválida* </small>
                </div>
                <div *ngIf="validar">
                    <small class="message mr-4 pr-4"> Requeridos* </small>
                </div>
                <small class="message mr-4 pr-4" *ngIf="mensaje"> Debe elegir al menos una orden de pago* </small>
            </div>
            <ngx-general-table [config]="configuration" [datos]="datosGiroOrdenesPago"></ngx-general-table>
            <div class="mt-4" *ngIf="datosSeleccionados.length !== 0">
                <div class="d-flex">
                    <p class="mr-auto align-text-bottom"> Órdenes de pago seleccionadas: </p>
                    <button (click)="remove()" class="btn btn-primary px-3 py-2 my-2 text-light"> Quitar todos -
                    </button>
                </div>
                <ngx-general-table [config]="configurationMin" [datos]="datosSeleccionados"></ngx-general-table>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button matStepperPrevious type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
                Volver
            </button>
        </div>
        <div class="col">
            <button (click)="guardar()" class="btn btn-success px-3 py-2 my-2 text-light">
                Generar detalle del giro
            </button>
        </div>
    </div>
</div>