<div class="container">
    <div class="row p-2">
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex justify-content-center p-4">
                                            <h5 class="text-primary text-center font-weight-bold pb-4">Consulta Matriculas Diferidas</h5>
                                        </div>
                                    </div>
                                </div>
                                <ngx-general-table [config]="configuracion" [datos]="datos"></ngx-general-table>
                                <div class="d-flex justify-content-between">
                                    <ngx-btn-volver></ngx-btn-volver>
                                    <button type="button" class="btn btn-primary px-3 py-2 my-3 text-light"
                                        (click)="AgregarRegistro()">Siguiente</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>