<div class="container-fluid">
    <form [formGroup]="DatosPACForm" *ngIf="DatosPACForm">
        <div class="row">
            <div class="col-4 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                <p>Apropiacion Presupuestal</p>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group">
                    <input currencyMask type="text" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }"
                        class="form-control text-right" placeholder="" formControlName="ApropiacionPresupuestal">
                </div>
            </div>
            <div class="col-4 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                <p>Sin Situacion de Fondos</p>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group">
                    <input currencyMask type="text" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }"
                        class="form-control text-right" placeholder="" formControlName="SinSituacionFondos">
                </div>
            </div>
            <div class="col-4 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                <p>PAC Aprobado</p>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group">
                    <span class="form-control overflow text-right">
                        {{PACAprobado ? (PACAprobado | currency:'$':'symbol':'3.2-2':'en-US' ) : '' }}
                    </span>
                </div>
            </div>
            <div class="col-4 pt-3 border-right border-dark d-flex align-items-center justify-content-end text-right">
                <p>Rezago</p>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group">
                    <input currencyMask type="text" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }"
                        class="form-control text-right" placeholder="" formControlName="Rezago">
                </div>
            </div>
            <div class="col-4 pt-3 border-right border-top border-dark d-flex align-items-center justify-content-end text-right">
                <p>Total a Distribuir</p>
            </div>
            <div class="col-8 pt-3 border-top border-dark">
                <div class="form-group">
                    <span class="form-control overflow text-right">
                        {{TotalDistribuir ? (TotalDistribuir | currency:'$':'symbol':'3.2-2':'en-US' ) : '' }}
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>