<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex justify-content-center p-4">
                                            <h5 class="text-primary text-center font-weight-bold pb-4">Anulacion
                                                de Cheques</h5>
                                        </div>
                                    </div>
                                </div>
                                <ngx-general-table [config]="configuracion" [datos]="datos"></ngx-general-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12 d-flex justify-content-end">
            <ngx-btn-volver></ngx-btn-volver>
        </div>
    </div>
</div>