<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col py-2">
                    <h5 class="card-title text-center text-primary">
                        INFORME DE EJECUCIÓN DE AVANCE
                    </h5>
                </div>
            </div>   
            <div class="card p-2 m-3">
                <div class="card-body">
                    <div class="card-title col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
                        Información de consulta
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <label for=""> Área funcional </label> <br>
                            <select name="" id=""></select>
                        </div>
                        <div class="col-2">
                            <label for=""> Consecutivo </label> <br>
                            <input type="text">
                        </div>
                        <div class="col-2">
                            <label for=""> Fecha </label> <br>
                            <input type="date">
                        </div>
                        <div class="col-6">
                            <label for=""> Mes a consultar </label> <br>
                            <input type="date"> <input type="date">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for=" "> Total girado </label> <br>
                            <input type="text">
                        </div>
                        <div class="col">
                            <label for=" "> Total legaliado </label> <br>
                            <input type="text">
                        </div>
                        <div class="col">
                            <label for=" "> Total por legaliar </label> <br>
                            <input type="text">
                        </div>
                        <div class="col">
                            <label for=" "> N° de retrasos </label> <br>
                            <input type="text">
                        </div>
                        <div class="col">
                            <label for=" "> Cumplimiento </label> <br>
                            <input type="text">
                        </div>
                        </div>
                    </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <button mat-button type="button" (click)="volver()" class="btn btn-primary px-3 py-2 my-2 text-light"> Volver </button>
                </div>
                <div class="col">
                    <button mat-button type="button" (click)="generar()" class="btn btn-success px-3 py-2 my-2 text-light"> Generar informe </button>
                </div>
            </div>
        </div>
    </div>
</div>
