<div class="container-fluid">
    <div class="card p-3 m-4">
        <div class="card-title col-md-4 bg-primary text-light text-center py-1 px-1 rounded">
            {{ 'CONSIGNACIONES.lista_consignaciones' | translate }}
        </div>
        <div class="card-body">
            <ngx-general-table [config]="configurationConsignaciones" [datos]="datosConsignaciones"></ngx-general-table>
            <nav class="mt-2">
                <ul class="pagination justify-content-end">
                    <p class="p-2 mx-2">{{ 'GLOBAL.pagina' | translate}}: </p>
                    <li class="page-item"><a class="page-link text-dark" (click)="anterior()">{{ 'GLOBAL.anterior' | translate }}</a></li>
                    <li class="page-item"><a class="page-link text-dark"> 1 </a></li>
                    <li class="page-item"><a class="page-link text-dark"> 2 </a></li>
                    <li class="page-item"><a class="page-link text-dark"> 3 </a></li>
                    <li class="page-item"><a class="page-link text-dark" (click)="siguiente()">{{ 'GLOBAL.siguiente' | translate }}</a></li>
                </ul>
            </nav>
        </div>
        <div *ngIf="!aportes" class="row m-2">
            <div class="col p-2">
                <label class="p-2 font-weight-bold" for="valorEfectivo"> {{ 'CONSIGNACIONES.total_efectivo' | translate }}: </label> <br>
                <input class="form-control" name="valorEfectivo" id="valorEfectivo" disabled value="{{totalEfectivo() | currency}}">
            </div>
            <div class="col p-2">
                <label class="p-2 font-weight-bold" for="valorCheques"> {{ 'CONSIGNACIONES.total_cheque' | translate }}: </label> <br>
                <input class="form-control" name="valorCheques" id="valorCheques" disabled value="{{totalCheque() | currency}}">
            </div>
            <div class="col p-2">
                <label class="p-2 font-weight-bold" for="valorDatafono"> {{ 'CONSIGNACIONES.total_datafono' | translate }}: </label> <br>
                <input class="form-control" name="valorDatafono" id="valorDatafono" disabled value="{{totalDatafono() | currency}}">
            </div>
            <div class="col p-2">
                <label class="p-2 font-weight-bold" for="valorTotal"> {{ 'GLOBAL.total' | translate }}: </label> <br>
                <input class="form-control" name="valorTotal" id="valorTotal" disabled value="{{total() | currency}}">
            </div>
        </div>
        <div *ngIf="aportes" class="row m-2">
            <div class="col-4 ml-3 p-2">
                <label class="p-2 font-weight-bold" for="valorDevengo"> {{ 'GLOBAL.total' | translate }}: </label> <br>
                <input class="form-control" id="valorDevengo" disabled value="{{totalAportes() | currency}}">
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button matStepperPrevious type="button" class="btn btn-primary px-3 py-2 my-2 text-light">
                {{ 'GLOBAL.volver' | translate }}
            </button>
        </div>
        <div class="col">
            <button matStepperNext class="btn btn-success px-3 py-2 my-2 text-light" type="submit">
                {{ 'GLOBAL.siguiente' | translate }}
            </button>
        </div>
    </div>
</div>
