<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <h5 class="align-text-bottom mt-5">
                        Ejecución de avance
                    </h5>
                </div>
                <div (click)="ejecucion()" class="card-footer d-flex justify-content-center">
                    <h6> Generar informe </h6> 
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <h5 class="align-text-bottom mt-5">
                        Consolidado de avances
                    </h5>
                </div>
                <div (click)="consolidado()" class="card-footer d-flex justify-content-center">
                    <h6> Generar informe </h6>
                </div>
            </div>            
        </div>
    </div>
</div>