<div class="container bg-white p-5 border rounded">
    <div class="row">
        <div class="col py-2">
            <h5 class="card-title text-center text-primary text-uppercase">
                CONSULTAR INFORMACIÓN EXÓGENA
            </h5>
        </div>
    </div>
    <form [formGroup]="busquedaGroup" (ngSubmit)="saveForm()">
        <div class="container">
            <div class="row">
                <div class="col p-3">
                    <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                        Busqueda Individual
                    </h6>
                </div>
            </div>
            <!-- Búsqueda Individual -->
            <div class="container">
                <div class="form-group row justify-content-lg-center align-items-end">
                    <div class="col-md-4">
                        <label for="tipoID">Tipo de ID</label>
                        <select class="custom-select" id="tipoID" formControlName="tipoID" [class.is-invalid]="isInvalid('tipoID')">
                            <option selected disabled value="">Seleccione...</option>
                            <option>CC</option>
                            <option>CE</option>
                        </select>
                        <small *ngIf="isInvalid('tipoID')" class="text-danger">Seleccione una opción</small>
                    </div>
                    <div class="col-md-4">
                        <label>Número de ID</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success btn-block text-white m-0 mt-2">
                            Nueva Consulta
                        </button>
                    </div>
                </div>
            </div>

            <mat-divider class="col-md-12 py-3 border-primary"></mat-divider>

            <!-- Los datos se traen a modo de lectura -->
            <div class="container">
                <div class="row pt-2">
                    <div class="col-md-6">
                        <label>No. de Formato</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-6">
                        <label>Razón Social</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-3">
                        <label>Primer Nombre</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-3">
                        <label>Segundo Nombre</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-3">
                        <label>Primer Apellido</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-3">
                        <label>Segundo Apellido</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-4">
                        <label>Dirección</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Departamento</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Municipio</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <label>Pais</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-6">
                        <label>Email</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col p-3">
                    <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                        Datos del Certificado
                    </h6>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 bg-white px-4 pb-3">
                        <ngx-general-table [config]="configCertificado" [datos]="datosCertificado">
                        </ngx-general-table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col p-3">
                    <h6 class="card-title col-md-4 bg-primary text-white text-center py-2 px-2 rounded">
                        Información Financiera
                    </h6>
                </div>
            </div>
            <div class="container">
                <div class="row pt-2">
                    <div class="col-md-4">
                        <label>Pagos</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Cesantías e Intereses</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Gastos de Representación</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-4">
                        <label>Pensión de Jubilación</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Otros ingresos</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-4">
                        <label>Total Ingresos Brutos</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <label>Salud Obligatoria</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-6">
                        <label>Pensión obligatoria</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <label>Pensión Voluntaria</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                    <div class="col-md-6">
                        <label>Retención en la Fuente</label>
                        <input value=" " type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <!-- Botones: Volver a registro, Siguiente -->
            <div class="container">
                <div class="row pt-3 text-center">
                    <div class="col-md">
                        <a routerLink="../../consolidar/lista">
                            <button type="button" class="btn btn-primary text-white col-md-4 m-0 mt-4">
                                Volver a registros
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>